<p>
    <mat-checkbox [(ngModel)]="disableSelect">Disable select</mat-checkbox>
</p>

<mat-form-field>
    <mat-label>Select Food</mat-label>

    <mtx-select [items]="items"
                [(ngModel)]="value"
                placeholder="select food"
                bindLabel="name"
                bindValue="id"
                [disabled]="disableSelect"
                [appendTo]="'body'"
                (change)="change($event)">
    </mtx-select>

    <mat-hint>Choose your favorite food</mat-hint>
    <mat-error>Please choose a food</mat-error>
</mat-form-field>