@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@use '../core/tokens/m2-utils';
@use '../core/tokens/m3-utils';
@use '../core/style/elevation';

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return (
    select-container-shape: 4px,
    select-container-elevation-shadow: elevation.get-box-shadow(8),
  );
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($theme, $color-variant) {
  $system: m2-utils.get-system($theme);
  $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);

  @return (
    select-container-text-color: map.get($system, on-surface),
    select-placeholder-text-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
    select-disabled-text-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),

    select-multiple-value-background-color: map.get($system, outline),
    select-multiple-value-outline-color: map.get($system, outline),
    select-multiple-value-disabled-outline-color: m3-utils.color-with-opacity(map.get($system, outline), 38%),
    select-multiple-value-icon-hover-background-color: map.get($system, outline),

    select-clear-icon-color: map.get($system, on-surface-variant),
    select-clear-icon-hover-color: map.get($system, error),

    select-enabled-arrow-color: map.get($system, on-surface-variant),
    select-disabled-arrow-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
    select-invalid-arrow-color: map.get($system, error),

    select-panel-background-color: map.get($system, surface),
    select-panel-divider-color: map.get($system, outline),
    select-optgroup-label-text-color: map.get($system, on-surface-variant),
    select-option-label-text-color: map.get($system, on-surface),
    select-option-selected-state-text-color: map.get($system, primary),
    select-option-selected-state-background-color:
      m3-utils.color-with-opacity(map.get($system, on-surface), map.get($system, hover-state-layer-opacity)),
    select-option-hover-state-background-color:
      m3-utils.color-with-opacity(map.get($system, on-surface), map.get($system, hover-state-layer-opacity)),
    select-option-disabled-state-text-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
  );
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($theme) {
  @return ();
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($theme) {
  @return ();
}
