<ng-select
  #ngSelect
  [class.ng-select-invalid]="errorState"
  [panelClass]="panelClass"
  [(ngModel)]="value"
  [placeholder]="placeholder || _intl.placeholder"
  [items]="items"
  [addTag]="addTag"
  [addTagText]="addTagText || _intl.addTagText"
  [appendTo]="appendTo"
  [bindLabel]="bindLabel"
  [bindValue]="bindValue"
  [closeOnSelect]="closeOnSelect"
  [clearAllText]="clearAllText || _intl.clearAllText"
  [clearable]="clearable"
  [clearOnBackspace]="clearOnBackspace"
  [panelPosition]="panelPosition"
  [groupBy]="groupBy"
  [groupValue]="groupValue"
  [bufferAmount]="bufferAmount"
  [hideSelected]="hideSelected"
  [panelDisabled]="panelDisabled"
  [compareWith]="compareWith"
  [loading]="loading"
  [loadingText]="loadingText || _intl.loadingText"
  [markFirst]="markFirst"
  [maxSelectedItems]="maxSelectedItems"
  [multiple]="multiple"
  [notFoundText]="notFoundText || _intl.notFoundText"
  [readonly]="readonly || disabled"
  [typeahead]="typeahead"
  [typeToSearchText]="typeToSearchText || _intl.typeToSearchText"
  [trackByFn]="trackByFn"
  [searchable]="searchable"
  [searchFn]="searchFn"
  [searchWhileComposing]="searchWhileComposing"
  [clearSearchOnAdd]="clearSearchOnAdd"
  [selectableGroup]="selectableGroup"
  [selectableGroupAsModel]="selectableGroupAsModel"
  [selectOnTab]="selectOnTab"
  [openOnEnter]="openOnEnter"
  [minTermLength]="minTermLength"
  [editableSearchTerm]="editableSearchTerm"
  [keyDownFn]="keyDownFn"
  [virtualScroll]="virtualScroll"
  [fixedPlaceholder]="fixedPlaceholder"
  [deselectOnClick]="deselectOnClick"
  [preventToggleOnRightClick]="preventToggleOnRightClick"
  (blur)="blurEvent.emit($event)"
  (focus)="focusEvent.emit($event)"
  (change)="changeEvent.emit($event)"
  (open)="openEvent.emit()"
  (close)="closeEvent.emit()"
  (search)="searchEvent.emit($event)"
  (clear)="clearEvent.emit($event)"
  (add)="addEvent.emit($event)"
  (remove)="removeEvent.emit($event)"
  (scroll)="scroll.emit($event)"
  (scrollToEnd)="scrollToEnd.emit()"
  [tabIndex]="tabIndex"
  [inputId]="inputId"
  [ariaLabel]="ariaLabel"
  [ariaLabelledby]="_getAriaLabelledby()"
  [ariaDescribedby]="_ariaDescribedby"
  [inputAttrs]="inputAttrs"
  [usePopover]="usePopover"
>
  @if (optionTemplate) {
    <ng-template
      ngSelectOption
      let-item="item"
      let-item$="item$"
      let-index="index"
      let-searchTerm="searchTerm"
    >
      <ng-template
        [ngTemplateOutlet]="optionTemplate"
        [ngTemplateOutletContext]="{
          item: item,
          item$: item$,
          index: index,
          searchTerm: searchTerm,
        }"
      ></ng-template>
    </ng-template>
  }

  @if (optgroupTemplate) {
    <ng-template
      ngSelectOptgroup
      let-item="item"
      let-item$="item$"
      let-index="index"
      let-searchTerm="searchTerm"
    >
      <ng-template
        [ngTemplateOutlet]="optgroupTemplate"
        [ngTemplateOutletContext]="{
          item: item,
          item$: item$,
          index: index,
          searchTerm: searchTerm,
        }"
      ></ng-template>
    </ng-template>
  }

  @if (labelTemplate) {
    <ng-template ngSelectLabel let-item="item" let-clear="clear" let-label="label">
      <ng-template
        [ngTemplateOutlet]="labelTemplate"
        [ngTemplateOutletContext]="{ item: item, clear: clear, label: label }"
      ></ng-template>
    </ng-template>
  }

  @if (multiLabelTemplate) {
    <ng-template ngSelectMultiLabel let-items="items" let-clear="clear">
      <ng-template
        [ngTemplateOutlet]="multiLabelTemplate"
        [ngTemplateOutletContext]="{ items: items, clear: clear }"
      ></ng-template>
    </ng-template>
  }

  @if (panelHeaderTemplate) {
    <ng-template ngSelectPanelHeader>
      <ng-template [ngTemplateOutlet]="panelHeaderTemplate"></ng-template>
    </ng-template>
  }

  @if (panelFooterTemplate) {
    <ng-template ngSelectPanelFooter>
      <ng-template [ngTemplateOutlet]="panelFooterTemplate"></ng-template>
    </ng-template>
  }

  @if (notFoundTemplate) {
    <ng-template ngSelectNotFound let-searchTerm="searchTerm">
      <ng-template
        [ngTemplateOutlet]="notFoundTemplate"
        [ngTemplateOutletContext]="{ searchTerm: searchTerm }"
      ></ng-template>
    </ng-template>
  }

  @if (typeToSearchTemplate) {
    <ng-template ngSelectTypeToSearch>
      <ng-template [ngTemplateOutlet]="typeToSearchTemplate"></ng-template>
    </ng-template>
  }

  @if (loadingTextTemplate) {
    <ng-template ngSelectLoadingText let-searchTerm="searchTerm">
      <ng-template
        [ngTemplateOutlet]="loadingTextTemplate"
        [ngTemplateOutletContext]="{ searchTerm: searchTerm }"
      ></ng-template>
    </ng-template>
  }

  @if (tagTemplate) {
    <ng-template ngSelectTag let-searchTerm="searchTerm">
      <ng-template
        [ngTemplateOutlet]="tagTemplate"
        [ngTemplateOutletContext]="{ searchTerm: searchTerm }"
      ></ng-template>
    </ng-template>
  }

  @if (loadingTemplate) {
    <ng-template ngSelectLoading>
      <ng-template [ngTemplateOutlet]="loadingTemplate"></ng-template>
    </ng-template>
  }

  @if (placeholderTemplate) {
    <ng-template ngSelectPlaceholder>
      <ng-template [ngTemplateOutlet]="placeholderTemplate"></ng-template>
    </ng-template>
  }

  @if (clearbuttonTemplate) {
    <ng-template ngSelectClearButton>
      <ng-template [ngTemplateOutlet]="clearbuttonTemplate"></ng-template>
    </ng-template>
  }
</ng-select>
