<ng-select [(ngModel)]="value"
           [items]="items"
           [disabled]="disabled"
           [placeholder]="placeholder"
           [addTag]="addTag"
           [addTagText]="addTagText"
           [appendTo]="appendTo"
           [appearance]="appearance"
           [bindLabel]="bindLabel"
           [bindValue]="bindValue"
           [closeOnSelect]="closeOnSelect"
           [clearAllText]="clearAllText"
           [clearable]="clearable"
           [clearOnBackspace]="clearOnBackspace"
           [compareWith]="compareWith"
           [dropdownPosition]="dropdownPosition"
           [groupBy]="groupBy"
           [groupValue]="groupValue"
           [hideSelected]="hideSelected"
           [isOpen]="isOpen"
           [inputAttrs]="inputAttrs"
           [loading]="loading"
           [loadingText]="loadingText"
           [labelForId]="labelForId"
           [markFirst]="markFirst"
           [maxSelectedItems]="maxSelectedItems"
           [multiple]="multiple"
           [notFoundText]="notFoundText"
           [readonly]="readonly"
           [typeahead]="typeahead"
           [typeToSearchText]="typeToSearchText"
           [trackByFn]="trackByFn"
           [searchable]="searchable"
           [searchFn]="searchFn"
           [searchWhileComposing]="searchWhileComposing"
           [clearSearchOnAdd]="clearSearchOnAdd"
           [selectableGroup]="selectableGroup"
           [selectableGroupAsModel]="selectableGroupAsModel"
           [selectOnTab]="selectOnTab"
           [tabIndex]="tabIndex"
           [openOnEnter]="openOnEnter"
           [minTermLength]="minTermLength"
           [keyDownFn]="keyDownFn"
           [virtualScroll]="virtualScroll"
           (blur)="blur.emit($event)"
           (focus)="focus.emit($event)"
           (change)="change.emit($event)"
           (open)="open.emit($event)"
           (close)="close.emit($event)"
           (search)="search.emit($event)"
           (clear)="clear.emit($event)"
           (add)="add.emit($event)"
           (remove)="remove.emit($event)"
           (scroll)="scroll.emit($event)"
           (scrollToEnd)="scrollToEnd.emit($event)">
</ng-select>