<h2>Progress</h2>
<div>
  <mtx-progress [value]="70" height="2px"></mtx-progress>
  <mtx-progress [value]="60" [striped]="true" [animate]="true">60</mtx-progress>
</div>

<h2>Dialog</h2>
<div>
  <button (click)="alert()">Alert</button>
  <button (click)="open()">Open</button>
</div>

<h2>Alert</h2>
<div>
  <mtx-alert type="danger" [dismissible]="true" (closed)="onClosed($event)" [elevation]="2">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </mtx-alert>
</div>

<h2>Data Grid</h2>
<mtx-grid class="mat-elevation-z1"
          [data]="list"
          [columns]="columns"
          [loading]="isLoading"
          [frontPage]="true"
          [pageSizeOptions]="[1,2]"
          [pageSize]="2">
</mtx-grid>

<h1>Experiment</h1>
<h2>3D Text</h2>
<div>
  <mtx-text3d text="3D Text"></mtx-text3d>
</div>
