@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use '../../extensions/experimental' as mtx;
@use './styles/app-theme';
@use './styles/constants';
@use './styles/reboot';
@use 'photoviewer';

@include mat.core();

$light-config: (
  color: (
    theme-type: 'light',
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
);

// Define the default (light) theme.
$light-theme: mat.private-deep-merge-all(
  mat.define-theme($light-config),
  mtx.define-theme($light-config)
);

:root {
  @include mat.all-component-themes($light-theme);
  @include mtx.all-component-themes($light-theme);
}

@include mat.color-variants-backwards-compatibility($light-theme);
@include mtx.color-variants-back-compat($light-theme);
@include app-theme.theme($light-theme);

$dark-config: (
  color: (
    theme-type: 'dark',
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
);

// Define an alternate dark theme.
$dark-theme: mat.private-deep-merge-all(
  mat.define-theme($dark-config),
  mtx.define-theme($dark-config)
);

.docs-theme-dark {
  @include mat.all-component-colors($dark-theme);
  @include mtx.all-component-colors($dark-theme);

  @include mat.color-variants-backwards-compatibility($dark-theme);
  @include mtx.color-variants-back-compat($dark-theme);
  @include app-theme.theme($dark-theme);
}
