@use '@angular/material' as mat;
@use '../../extensions' as mtx;
@use './styles/highlightjs';
@use './styles/constants';
@use './styles/reboot';
@use 'photoviewer';

$light-config: (
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: Roboto,
  density: 0,
);

html {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  @include mat.theme($light-config);
}

@include highlightjs.theme(light);

.docs-theme-dark {
  color-scheme: dark;

  @include highlightjs.theme(dark);
}
