@import '~@angular/material/theming';
@import './styles/app-theme';
@import './styles/constants';
@import './styles/reboot';

@include mat-core();

// Define the default theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include extensions-docs-app-theme($theme);

// Define an alternate dark theme.
.docs-dark-theme {
  $primary: mat-palette($mat-pink);
  $accent: mat-palette($mat-blue-grey);
  $theme: mat-dark-theme($primary, $accent);

  @include angular-material-theme($theme);
  @include extensions-docs-app-theme($theme);
}
