@use '@angular/material' as mat;
@use '../../extensions' as mtx;
@use './styles/app-theme';
@use './styles/constants';
@use './styles/reboot';

@include mat.core();

// Define the default theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($theme);
@include mtx.all-component-themes($theme);
@include app-theme.theme($theme);

// Define an alternate dark theme.
.docs-theme-dark {
  $primary: mat.define-palette(mat.$pink-palette);
  $accent: mat.define-palette(mat.$blue-grey-palette);
  $theme: mat.define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent
      ),
      typography: mat.define-typography-config(),
    )
  );

  @include mat.all-component-themes($theme);
  @include mtx.all-component-themes($theme);
  @include app-theme.theme($theme);
}
