@use '../app/pages/component-category-list/component-category-list-theme';
@use '../app/pages/component-page-header/component-page-header-theme';
@use '../app/pages/component-nav/component-nav-theme';
@use '../app/pages/component-sidenav/component-sidenav-theme';
@use '../app/pages/component-viewer/component-viewer-theme';
@use '../app/pages/homepage/homepage-theme';
@use '../app/shared/example-viewer/example-viewer-theme';
@use '../app/shared/table-of-contents/table-of-contents-theme';

@use './highlightjs/material-light' as *;
@use './highlightjs/material-dark' as *;

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);

  @include component-category-list-theme.theme($theme);
  @include component-page-header-theme.theme($theme);
  @include component-nav-theme.theme($theme);
  @include component-sidenav-theme.theme($theme);
  @include component-viewer-theme.theme($theme);
  @include homepage-theme.theme($theme);
  @include example-viewer-theme.theme($theme);
  @include table-of-contents-theme.theme($theme);

  @if $is-dark-theme {
    @include highlightjs-material-dark();
  }
  @else {
    @include highlightjs-material-light();
  }
}
