html,
body {
  height: 100vh;
}

body {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
}

.docs-button[md-button],
.docs-button[md-raised-button] {
  text-transform: uppercase;
}

h1,
h2 {
  font-weight: 400;
}

// These styles are for controlling SVGs without using the ::ng-deep selector

.docs-component-category-list-card-image svg {
  width: 100%;
}

.docs-footer-angular-logo svg {
  height: 50px;
}

.docs-angular-logo svg {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  word-break: break-word;
  background-color: rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .08);
  border-radius: 4px;
}

pre {
  font-size: 14px;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 75%;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #1e88e5;

  &:hover {
    color: #166dba;
  }
}
