@mixin mtx-form-group-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .mtx-form-group {
    .mtx-form-label {
      &.mtx-form-label-marker::after {
        color: mat-color($warn);
      }
    }
  }

  .mtx-form-field-appearance-fluent {
    .mat-form-field-flex {
      border: 1px solid rgba(mat-color($foreground, divider), .54);

      &:hover {
        border: 1px solid rgba(mat-color($foreground, divider), .78);
      }
    }

    .mat-focused {
      .mat-form-field-flex {
        border-color: mat-color($primary);
        box-shadow: inset 0 0 0 1px mat-color($primary);
      }

      &.mat-accent {
        .mat-form-field-flex {
          border-color: mat-color($accent);
          box-shadow: inset 0 0 0 1px mat-color($accent);
        }
      }

      &.mat-warn {
        .mat-form-field-flex {
          border-color: mat-color($warn);
          box-shadow: inset 0 0 0 1px mat-color($warn);
        }
      }
    }

    .mat-form-field-invalid {
      .mat-form-field-flex,
      &.mat-accent .mat-form-field-flex,
      &.mat-warn .mat-form-field-flex {
        border-color: mat-color($warn);
        box-shadow: inset 0 0 0 1px mat-color($warn);
      }
    }

    .mat-form-field-disabled {
      .mat-form-field-flex {
        background-color: mat-color($background, disabled-button);
        border-color: mat-color($foreground, divider);
      }
    }

    .mat-form-field-label,
    .mat-hint {
      color: mat-color($foreground, secondary-text);
    }
  }
}
