.mtx-form-group {
  display: inline-block;

  .mtx-form-field-layout {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
  }

  .mtx-form-label {
    position: relative;
    display: inline-block;
    padding-top: calc(.375em + 1px);
    padding-bottom: calc(.375em + 1px);
    padding-right: 1em;
    line-height: 1.125;

    [dir='rtl'] & {
      padding-right: unset;
      padding-left: 1em;
    }

    &.mtx-form-label-marker::after {
      content: '*';
      margin-left: 4px;

      [dir='rtl'] & {
        margin-left: auto;
        margin-right: 4px;
      }
    }
  }
}

// Fluent UI: https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield
.mtx-form-field-appearance-fluent {
  .mat-mdc-form-field-infix {
    min-height: 30px;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 4px 8px;
  }

  .mdc-text-field {
    padding: 0;
  }

  .mdc-text-field--outlined .mdc-notched-outline {
    .mdc-notched-outline__leading {
      border-radius: 2px 0 0 2px;

      [dir='rtl'] & {
        border-radius: 0 2px  2px 0;
      }
    }

    .mdc-notched-outline__trailing {
      border-radius: 0 2px  2px 0;

      [dir='rtl'] & {
        border-radius: 2px 0 0 2px;
      }
    }
  }

  .mdc-text-field--no-label .ng-select,
  .mdc-text-field--outlined .ng-select {
    padding: 4px 8px;
    margin: -4px -8px;
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper,
  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
    width: 30px;
    height: 30px;
    padding: 3px;
  }

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix, {
    padding: 0 4px;
  }
}
