@use 'sass:map';
@use '../../token-utils';
@use '../../../theming/theming';
@use '../../../style/sass-utils';
@use '../../../theming/palette';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mtx, progress);

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return ();
}

// Tokens that can be configured through Angular Material's color theming API.
@function get-color-tokens($config) {
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  @return (
    track-color: theming.get-color-from-palette($background, hover),
    info-indicator-color: theming.get-color-from-palette(palette.$blue-palette, 500),
    info-text-color: white,
    success-indicator-color: theming.get-color-from-palette(palette.$green-palette, 500),
    success-text-color: white,
    warning-indicator-color: theming.get-color-from-palette(palette.$orange-palette, 500),
    warning-text-color: white,
    danger-indicator-color: theming.get-color-from-palette(palette.$red-palette, 500),
    danger-text-color: white,
  );
}

// Tokens that can be configured through Angular Material's typography theming API.
@function get-typography-tokens($config) {
  @return ();
}

// Tokens that can be configured through Angular Material's density theming API.
@function get-density-tokens($config) {
  @return ();
}

// Combines the tokens generated by the above functions into a single map with placeholder values.
// This is used to create token slots.
@function get-token-slots() {
  @return sass-utils.deep-merge-all(
    get-unthemable-tokens(),
    get-color-tokens(token-utils.$placeholder-color-config),
    get-typography-tokens(token-utils.$placeholder-typography-config),
    get-density-tokens(token-utils.$placeholder-density-config)
  );
}
