@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/tokens/m3-utils';
@use '../core/tokens/m3';

/// Generates custom tokens for the mtx-progress.
@function get-tokens($theme: m3.$sys-theme) {
  $system: m3-utils.get-system($theme);

  $tokens: (
    base: (
      progress-container-shape: map.get($system, corner-extra-small),
      progress-text-size: map.get($system, label-medium-size),
    ),
    color: (
      progress-track-color: map.get($system, surface-container),
      progress-indicator-color: map.get($system, outline-variant),
      progress-text-color: map.get($system, on-surface),
      progress-info-indicator-color: map.get(mat.$blue-palette, 50),
      progress-info-text-color: white,
      progress-success-indicator-color: map.get(mat.$green-palette, 50),
      progress-success-text-color: white,
      progress-warning-indicator-color: map.get(mat.$orange-palette, 50),
      progress-warning-text-color: white,
      progress-danger-indicator-color: map.get(mat.$red-palette, 50),
      progress-danger-text-color: white,
    ),
    typography: (),
    density: (),
  );

  @return $tokens;
}
