@use '../core/tokens/token-utils';
@use './m2-progress';

$progress-height: 16px !default;
$progress-fill-animation-timing: 1s linear infinite !default;

$_tokens: m2-progress.$prefix, m2-progress.get-token-slots();

@mixin gradient-striped($color: rgba(white, .15), $angle: 45deg) {
  background-image:
    linear-gradient(
      $angle,
      $color 25%,
      transparent 25%,
      transparent 50%,
      $color 50%,
      $color 75%,
      transparent 75%,
      transparent
    );
}

.mtx-progress {
  display: flex;
  height: $progress-height;
  margin: 8px 0;
  overflow: hidden;

  @include token-utils.use-tokens($_tokens...) {
    font-size: token-utils.slot(text-size);
    border-radius: token-utils.slot(container-shape);
    background-color: token-utils.slot(track-color);
  }
}

.mtx-progress-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: width .6s ease;

  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(indicator-color);
    color: token-utils.slot(text-color);
  }
}

.mtx-progress-fill-info {
  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(info-indicator-color);
    color: token-utils.slot(info-text-color);
  }
}

.mtx-progress-fill-success {
  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(success-indicator-color);
    color: token-utils.slot(success-text-color);
  }
}

.mtx-progress-fill-warning {
  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(warning-indicator-color);
    color: token-utils.slot(warning-text-color);
  }
}

.mtx-progress-fill-danger {
  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(danger-indicator-color);
    color: token-utils.slot(danger-text-color);
  }
}

.mtx-progress-fill-striped {
  @include gradient-striped();

  background-size: $progress-height $progress-height;
}

.mtx-progress-fill-animated {
  animation: mtx-progress-fill-stripes $progress-fill-animation-timing;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes mtx-progress-fill-stripes {
  from {
    background-position: $progress-height 0;
  }

  to {
    background-position: 0 0;
  }
}
