<p>
  The <code>mtx-grid</code> is an powerful material table component. It supports cell selectable,
  row selectable, multiple row selectable, row expandable, column hiding, column moving and so on.

  <a mat-raised-button color="primary"
     href="https://github.com/ng-matero/extensions/blob/master/projects/demos/src/app/data-grid/data-grid-demo.component.html"
     target="_blank">View Code</a>
  <a mat-raised-button color="accent"
     href="https://nzbin.gitbook.io/material-extensions/data-grid" target="_blank">API</a>
</p>

<h2>Basic</h2>
<mtx-grid [data]="list"
          [columns]="columns"
          [trackBy]="trackByName">
</mtx-grid>

<h2>Loading Status</h2>
<mtx-grid [data]="list"
          [columns]="columns"
          [loading]="true">
</mtx-grid>

<h2>Hide Pagination</h2>
<p>If you hide the pagination, you should set <code>pageOnFront</code> false to show all the data.
</p>
<mtx-grid [data]="list"
          [columns]="columns"
          [pageOnFront]="false"
          [showPaginator]="false">
</mtx-grid>

<h2>Sortable</h2>
<mtx-grid [data]="list"
          [columns]="columnsSortable"
          [sortOnFront]="true"
          (sortChange)="log($event)">
</mtx-grid>

<h2>Row Selectable</h2>
<mat-checkbox [(ngModel)]="rowSelectable">Row selectable</mat-checkbox>
<mat-checkbox class="mx-3" [(ngModel)]="hideRowSelectionCheckbox">Hide checkbox</mat-checkbox>
<mat-radio-group [(ngModel)]="multiSelectable">
  <mat-radio-button [value]="false">Single</mat-radio-button>
  <mat-radio-button [value]="true" class="mx-3">Multiple</mat-radio-button>
</mat-radio-group>

<p>If you choose multiple option, you can press <kbd>ctrl</kbd>/<kbd>command</kbd> +
  click or select checkboxs to choose multiple row.</p>

<mtx-grid [data]="list"
          [columns]="columns"
          [multiSelectable]="multiSelectable"
          [hideRowSelectionCheckbox]="hideRowSelectionCheckbox"
          [rowSelectable]="rowSelectable"
          [rowSelected]="rowSelected"
          (rowSelectionChange)="log($event)"
          (cellSelectionChange)="log($event)">
</mtx-grid>

<h2>Expandable Row</h2>
<mtx-grid [data]="list"
          [columns]="columnsExpandable"
          [expandable]="true"
          [expansionTemplate]="expansionTpl">
</mtx-grid>
<ng-template #expansionTpl let-row>
  {{row.name}}
</ng-template>

<h2>Column Hiding & Moving</h2>
<div class="mb-3">
  <mat-checkbox [(ngModel)]="columnHideable">Column Hiding</mat-checkbox>
  <mat-checkbox class="mx-3" [(ngModel)]="columnMovable">Column Moving</mat-checkbox>
</div>
<p>Click the <kbd>Column Shown</kbd> button, you can select or drag the columns.</p>
<mtx-grid [data]="list"
          [columns]="columns"
          [showToolbar]="true"
          [toolbarTitle]="'Data Grid'"
          [columnHideable]="columnHideable"
          [columnMovable]="columnMovable">
</mtx-grid>

<h2>Column Pinnable</h2>
<p>The <code>name</code> and <code>weight</code> column pinned left, the <code>email</code> column
  pinned right. Scroll the columns to test.</p>
<mtx-grid [data]="list"
          [columns]="columnsPinnable">
</mtx-grid>

<h2>Hover & Striped effect</h2>
<div class="mb-3">
  <mat-checkbox [(ngModel)]="rowHover">Hover</mat-checkbox>
  <mat-checkbox class="mx-3" [(ngModel)]="rowStriped">Striped</mat-checkbox>
</div>
<mtx-grid [data]="list"
          [columns]="columns"
          [rowHover]="rowHover"
          [rowStriped]="rowStriped">
</mtx-grid>

<h2>Row with option buttons</h2>
<mtx-grid [data]="list"
          [columns]="columnsWithButtons">
</mtx-grid>

<h2>Custom cell template</h2>
<p>The status column are custom cells.</p>
<mtx-grid [data]="list"
          [columns]="columnsWithCustomCell">
</mtx-grid>
<ng-template #statusTpl let-row let-index="index" let-col="colDef">
  <mat-slide-toggle [checked]="row.status">Slide me!</mat-slide-toggle>
</ng-template>

<p>There has another easiest way to custom cells. You can use property
  <code>{{cellTemplateString}}</code></p>
<mtx-grid [data]="list"
          [columns]="columns"
          [cellTemplate]="{city: cityTpl}">
</mtx-grid>
<ng-template #cityTpl let-row let-index="index" let-col="colDef">
  <button mat-raised-button color="primary">{{row.city}}</button>
</ng-template>

<h2>Data Formatting</h2>
<p>The <code>name</code> field use a formatter.</p>
<mtx-grid [data]="list"
          [columns]="columnsWithFormatting">
</mtx-grid>

<h2>No Result</h2>
<mtx-grid [data]="[]"
          [columns]="columnsWithFormatting">
</mtx-grid>

<h2>Custom Header Template</h2>
<mtx-grid [data]="list"
          [columns]="columnsWithCustomHeader"
          [headerTemplate]="headerTpl">
</mtx-grid>
<ng-template #headerTpl let-col>
  {{col.header}} <mat-icon [matTooltip]="col.description">info</mat-icon>
</ng-template>

<h2>Custom Footer Template</h2>
<mtx-grid [data]="list"
          [columns]="columnsWithCustomFooter"
          [showSummary]="true"
          [summaryTemplate]="{'cost': footerTpl}">
</mtx-grid>
<ng-template #footerTpl let-data>
  <div>{{getTotalCost(data) | currency}}</div>
</ng-template>

<h2>Custom Toolbar Template</h2>
<mtx-grid [data]="list"
          [columns]="columns"
          [showToolbar]="true"
          [showColumnMenuButton]="false"
          [toolbarTemplate]="toolbarTpl">
</mtx-grid>
<ng-template #toolbarTpl>
  <input placeholder="Search">
</ng-template>
