<p>
  The <code>mtx-grid</code> is an powerful material table component. It supports cell selectable,
  row selectable, multiple row selectable, row expandable, column hiding, column moving and so on.
</p>

<p>
  <a mat-raised-button color="accent"
     href="https://nzbin.gitbook.io/material-extensions/data-grid" target="_blank">API</a>
</p>

<ng-container *ngIf="route.data | async as data">
  <ng-container *ngFor="let exampleData of data.examples">
    <doc-heading [text]="exampleData.title"></doc-heading>
    <example-viewer [exampleData]="exampleData"></example-viewer>
  </ng-container>
</ng-container>
