@use 'sass:map';
@use 'sass:meta';
@use '../core/theming/theming';
@use '../core/style/private';
@use '../core/typography/typography';
@use '../core/typography/typography-utils';

@mixin _inner-content-theme($palette) {
  .mtx-slider-track-fill,
  .mtx-slider-thumb,
  .mtx-slider-thumb-label {
    background-color: theming.get-color-from-palette($palette);
  }

  .mtx-slider-thumb-label-text {
    color: theming.get-color-from-palette($palette, default-contrast);
  }

  .mtx-slider-focus-ring {
    $opacity: .2;
    $color: theming.get-color-from-palette($palette, default, $opacity);

    background-color: $color;

    // `mat-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($color) != color) {
      opacity: $opacity;
    }
  }
}

@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  $slider-off-color: rgb(189, 189, 189);
  $slider-off-focused-color: theming.get-color-from-palette($foreground, slider-off-active);
  $slider-disabled-color: $slider-off-color;
  $slider-track-disabled-color: rgba($slider-off-color, .54);
  $slider-labeled-min-value-thumb-color: theming.get-color-from-palette($foreground, slider-min);
  $slider-labeled-min-value-thumb-label-color: theming.get-color-from-palette($foreground, slider-off);
  $slider-focus-ring-color: theming.get-color-from-palette($accent, default, .2);
  $slider-focus-ring-min-value-color: theming.get-color-from-palette($foreground, base, .12);
  $slider-tick-opacity: .7;
  $slider-tick-color: theming.get-color-from-palette($foreground, base, $slider-tick-opacity);
  $slider-tick-size: 2px;

  .mtx-slider-thumb {
    @include private.private-theme-elevation(2, $config);
  }

  .mtx-slider-track-background {
    background-color: $slider-off-color;
  }

  .mat-primary {
    @include _inner-content-theme($primary);
  }

  .mat-accent {
    @include _inner-content-theme($accent);
  }

  .mat-warn {
    @include _inner-content-theme($warn);
  }

  .mtx-slider:hover,
  .mtx-slider.cdk-focused {
    .mtx-slider-track-background {
      background-color: $slider-off-focused-color;
    }
  }

  .mtx-slider-disabled {
    .mtx-slider-track-background {
      background-color: $slider-track-disabled-color;
    }

    .mtx-slider-track-fill,
    .mtx-slider-thumb {
      background-color: $slider-disabled-color;
    }

    &:hover,
    &.cdk-focused {
      .mtx-slider-track-background {
        background-color: $slider-track-disabled-color;
      }
    }
  }

  .mtx-slider-min-value {
    .mtx-slider-focus-ring {
      $opacity: .12;
      $color: theming.get-color-from-palette($foreground, base, $opacity);

      background-color: $color;

      // `mat-color` uses `rgba` for the opacity which won't work with
      // CSS variables so we need to use `opacity` as a fallback.
      @if (meta.type-of($color) != color) {
        opacity: $opacity;
      }
    }

    &.mtx-slider-thumb-label-showing:not(.mtx-range-slider) {
      .mtx-slider-thumb,
      .mtx-slider-thumb-label {
        background-color: $slider-labeled-min-value-thumb-color;
      }

      &.cdk-focused {
        .mtx-slider-thumb,
        .mtx-slider-thumb-label {
          background-color: $slider-labeled-min-value-thumb-label-color;
        }
      }
    }

    &:not(.mtx-slider-thumb-label-showing, .mtx-range-slider) {
      .mtx-slider-thumb {
        background-color: $slider-off-color;
      }

      &:hover,
      &.cdk-focused {
        .mtx-slider-thumb {
          background-color: $slider-off-focused-color;
        }

        &.mtx-slider-disabled .mtx-slider-thumb {
          border-color: $slider-disabled-color;
        }
      }
    }
  }

  .mtx-slider-has-ticks .mtx-slider-wrapper::after {
    border-color: $slider-tick-color;

    // `mat-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($slider-tick-color) != color) {
      opacity: $slider-tick-opacity;
    }
  }

  .mtx-slider-horizontal .mtx-slider-ticks {
    background-image:
      repeating-linear-gradient(
        to right,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );
    // Firefox doesn't draw the gradient correctly with 'to right'
    // (see https://bugzilla.mozilla.org/show_bug.cgi?id=1314319).
    background-image:
      repeating-linear-gradient(
        .0001deg,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );

    // `mat-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($slider-tick-color) != color) {
      opacity: $slider-tick-opacity;
    }
  }

  .mtx-slider-vertical .mtx-slider-ticks {
    background-image:
      repeating-linear-gradient(
        to bottom,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );

    // `mat-color` uses `rgba` for the opacity which won't work with
    // CSS variables so we need to use `opacity` as a fallback.
    @if (meta.type-of($slider-tick-color) != color) {
      opacity: $slider-tick-opacity;
    }
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
    theming.get-typography-config($config-or-theme)
  );

  .mtx-slider-thumb-label-text {
    font: {
      family: typography-utils.font-family($config);
      size: typography-utils.font-size($config, caption);
      weight: typography-utils.font-weight($config, body-2);
    }
  }
}

@mixin density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'mtx-slider') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}
