@import '~@angular/material/theming';

@mixin _mtx-slider-inner-content-theme($palette) {
  .mtx-slider-track-fill,
  .mtx-slider-thumb,
  .mtx-slider-thumb-label {
    background-color: mat-color($palette);
  }

  .mtx-slider-thumb-label-text {
    color: mat-color($palette, default-contrast);
  }
}

@mixin mtx-slider-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $slider-off-color: mat-color($foreground, slider-off);
  $slider-off-focused-color: mat-color($foreground, slider-off-active);
  $slider-disabled-color: mat-color($foreground, slider-off);
  $slider-labeled-min-value-thumb-color: mat-color($foreground, slider-min);
  $slider-labeled-min-value-thumb-label-color: mat-color($foreground, slider-off);
  $slider-focus-ring-color: mat-color($accent, default, .2);
  $slider-focus-ring-min-value-color: mat-color($foreground, base, .12);
  $slider-tick-color: mat-color($foreground, base, .7);
  $slider-tick-size: 2px;

  .mtx-slider-track-background {
    background-color: $slider-off-color;
  }

  .mat-primary {
    @include _mtx-slider-inner-content-theme($primary);
  }

  .mat-accent {
    @include _mtx-slider-inner-content-theme($accent);
  }

  .mat-warn {
    @include _mtx-slider-inner-content-theme($warn);
  }

  .mat-slider-focus-ring {
    background-color: $slider-focus-ring-color;
  }

  .mtx-slider:hover,
  .cdk-focused {
    .mtx-slider-track-background {
      background-color: $slider-off-focused-color;
    }
  }

  .mtx-slider-disabled {
    .mtx-slider-track-background,
    .mtx-slider-track-fill,
    .mtx-slider-thumb {
      background-color: $slider-disabled-color;
    }

    &:hover {
      .mtx-slider-track-background {
        background-color: $slider-disabled-color;
      }
    }
  }

  .mtx-slider-min-value {
    .mtx-slider-focus-ring {
      background-color: $slider-focus-ring-min-value-color;
    }

    &.mtx-slider-thumb-label-showing:not(.mtx-range-slider) {
      .mtx-slider-thumb,
      .mtx-slider-thumb-label {
        background-color: $slider-labeled-min-value-thumb-color;
      }

      &.cdk-focused {
        .mtx-slider-thumb,
        .mtx-slider-thumb-label {
          background-color: $slider-labeled-min-value-thumb-label-color;
        }
      }
    }

    &:not(.mtx-slider-thumb-label-showing):not(.mtx-range-slider) {
      .mtx-slider-thumb {
        border-color: $slider-off-color;
        background-color: transparent;
      }

      &:hover,
      &.cdk-focused {
        .mtx-slider-thumb {
          border-color: $slider-off-focused-color;
        }

        &.mtx-slider-disabled .mtx-slider-thumb {
          border-color: $slider-disabled-color;
        }
      }
    }
  }

  .mtx-slider-has-ticks .mtx-slider-wrapper::after {
    border-color: $slider-tick-color;
  }

  .mtx-slider-horizontal .mtx-slider-ticks {
    background-image:
      repeating-linear-gradient(
        to right,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );
    // Firefox doesn't draw the gradient correctly with 'to right'
    // (see https://bugzilla.mozilla.org/show_bug.cgi?id=1314319).
    background-image:
      -moz-repeating-linear-gradient(
        .0001deg,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );
  }

  .mtx-slider-vertical .mtx-slider-ticks {
    background-image:
      repeating-linear-gradient(
        to bottom,
        $slider-tick-color,
        $slider-tick-color $slider-tick-size,
        transparent 0,
        transparent
      );
  }
}

@mixin mtx-slider-typography($config) {
  .mtx-slider-thumb-label-text {
    font: {
      family: mat-font-family($config);
      size: mat-font-size($config, caption);
      weight: mat-font-weight($config, body-2);
    }
  }
}
