<div class="mtx-slider-wrapper" #sliderWrapper>
  <div class="mtx-slider-track-wrapper">
    <div *ngIf="isRangeSlider()"
         class="mtx-slider-track-background mtx-slider-track-background-left"
         [ngStyle]="_trackBackgroundStylesLeft"></div>
    <div class="mtx-slider-track-fill" [ngClass]="{'mtx-range-slider-fill': isRangeSlider()}"
         [ngStyle]="_trackFillStyles"></div>
    <div class="mtx-slider-track-background mtx-slider-track-background-right"
         [ngStyle]="_trackBackgroundStylesRight"></div>
  </div>
  <div class="mtx-slider-ticks-container" [ngStyle]="_ticksContainerStyles">
    <div class="mtx-slider-ticks" [ngStyle]="_ticksStyles"></div>
  </div>
  <div class="mtx-slider-thumb-container" #leftSlider
       [ngStyle]="_thumbContainerStylesLeft">
    <div class="mtx-slider-focus-ring"></div>
    <div class="mtx-slider-thumb left"></div>
    <div class="mtx-slider-thumb-label">
      <span class="mtx-slider-thumb-label-text">{{displayValue}}</span>
    </div>
  </div>
  <div *ngIf="isRangeSlider()" class="mtx-slider-thumb-container" #rightSlider
       [ngStyle]="_thumbContainerStylesRight">
    <div class="mtx-slider-focus-ring"></div>
    <div class="mtx-slider-thumb right"></div>
    <div class="mtx-slider-thumb-label">
      <span class="mtx-slider-thumb-label-text">{{displayValueRight}}</span>
    </div>
  </div>
</div>
