<h2>3D Text configuration</h2>

<section>
  <mat-form-field>
    <input matInput [(ngModel)]="text" placeholder="Text">
  </mat-form-field>
</section>

<section>
  <label>Depth:</label>
  <mat-slider min="1" max="50" thumbLabel [(ngModel)]="depth"></mat-slider>
</section>

<section>
  <label>RotateX:</label>
  <mat-slider min="0" max="360" thumbLabel [(ngModel)]="rotateX"></mat-slider>

  <label>RotateY:</label>
  <mat-slider min="0" max="360" thumbLabel [(ngModel)]="rotateY"></mat-slider>

  <label>RotateZ:</label>
  <mat-slider min="0" max="360" thumbLabel [(ngModel)]="rotateZ"></mat-slider>
</section>

<h2>Result</h2>

<mtx-text3d [text]="text" [depth]="depth"
            [rotateX]="rotateX" [rotateY]="rotateY" [rotateZ]="rotateZ"></mtx-text3d>
