@use '~@angular/material' as mat;

@mixin mtx-split-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  .mtx-split {
    > .mtx-split-gutter {
      background-color: rgba(mat.get-color-from-palette($foreground, divider), .24);

      &:hover {
        background-color: mat.get-color-from-palette($accent);
      }
    }
  }
}
