.mtx-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
  font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
}

.mtx-dialog-content {
  display: block;
  max-height: 65vh;
  padding: 0 24px;
  margin: 0 -24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mtx-dialog-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 52px;
  padding: 8px 0;
}
