.mtx-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  margin: 0;
  line-height: 48px;
  font-weight: 500;
  font-size: 20px;

  .mat-mdc-button-base {
    margin-right: -16px;

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: -16px;
    }
  }
}

.mtx-dialog-content {
  display: block;
  max-height: 65vh;
  padding: 0 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  p {
    margin-top: 0;
  }
}

.mtx-dialog-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;

  .mat-mdc-button-base {
    margin-left: 8px;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
