@if (data.title) {
  <h1 class="mtx-dialog-title">
    <span>{{ data.title | toObservable | async }}</span>
    @if (data.showCloseIcon) {
      <button matIconButton (click)="_onClose()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </h1>
}
@if (data.description) {
  <div class="mtx-dialog-content">
    <p>{{ data.description | toObservable | async }}</p>
  </div>
}
<div class="mtx-dialog-actions">
  @for (btn of data.buttons; track btn) {
    @if (btn.focusInitial) {
      <button
        cdkFocusInitial
        [matButton]="btn.type || 'text'"
        [color]="btn.color"
        [class]="btn.class"
        (click)="_onClick(btn.onClick!)"
      >
        {{ btn.text | toObservable | async }}
      </button>
    } @else {
      <button
        [matButton]="btn.type || 'text'"
        [color]="btn.color"
        [class]="btn.class"
        (click)="_onClick(btn.onClick!)"
      >
        {{ btn.text | toObservable | async }}
      </button>
    }
  }
</div>
