@use 'sass:map';
@use '../core/tokens/m2-utils';

@function get-tokens($theme) {
  $system: m2-utils.get-system($theme);

  @return (
    base: (
      popover-container-shape: 4px,
      // Note that this uses a value, rather than a computed box-shadow, because we use
      // the value at runtime to determine which shadow to set based on the popover's depth.
      popover-base-elevation-level: 8,
    ),
    color: (
      popover-outline-color: map.get($system, outline),
      popover-background-color: map.get($system, surface),
      popover-text-color: map.get($system, on-surface),
    ),
    typography: (),
    density: ()
  );
}
