$arrow-size: 8px;

.mtx-popover-panel {
  max-height: calc(100vh - 48px);
  padding: 8px;
  border-radius: 4px;

  &[class*='mtx-popover-below'] {
    margin-top: $arrow-size + 2;
  }

  &[class*='mtx-popover-above'] {
    margin-bottom: $arrow-size + 2;
  }

  &[class*='mtx-popover-before'] {
    margin-right: $arrow-size + 2;

    [dir='rtl'] & {
      margin-right: auto;
      margin-left: $arrow-size + 2;
    }
  }

  &[class*='mtx-popover-after'] {
    margin-left: $arrow-size + 2;

    [dir='rtl'] & {
      margin-left: auto;
      margin-right: $arrow-size + 2;
    }
  }

  &.mtx-popover-overlap {
    margin: 0;
  }
}

.mtx-popover-direction-arrow {
  position: absolute;
  width: $arrow-size * 2;
  height: $arrow-size * 2;

  &::before,
  &::after {
    position: absolute;
    display: inline-block;
    content: '';
    border-width: $arrow-size;
    border-style: solid;
  }

  &::after {
    border-width: $arrow-size - 1;
  }
}

// Arrow up and down

[class*='mtx-popover-below'],
[class*='mtx-popover-above'] {
  .mtx-popover-direction-arrow {
    &::before,
    &::after {
      border-left-color: transparent;
      border-right-color: transparent;
    }

    &::after {
      left: 1px;

      [dir='rtl'] & {
        right: 1px;
        left: auto;
      }
    }
  }
}

[class*='mtx-popover-below'] {
  .mtx-popover-direction-arrow {
    top: -$arrow-size * 2;

    &::before,
    &::after {
      bottom: 0;
      border-top-width: 0;
    }
  }
}

[class*='mtx-popover-above'] {
  .mtx-popover-direction-arrow {
    bottom: -$arrow-size * 2;

    &::before,
    &::after {
      top: 0;
      border-bottom-width: 0;
    }
  }
}

// Arrow left and right

[class*='mtx-popover-before'],
[class*='mtx-popover-after'] {
  .mtx-popover-direction-arrow {
    &::before,
    &::after {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

    &::after {
      top: 1px;
    }
  }
}

[class*='mtx-popover-before'] {
  .mtx-popover-direction-arrow {
    right: -$arrow-size * 2;

    &::before,
    &::after {
      left: 0;
      border-right-width: 0;
    }

    [dir='rtl'] & {
      right: auto;
      left: -$arrow-size * 2;

      &::before,
      &::after {
        right: 0;
        border-left-width: 0;
      }

      &::before {
        border-right-width: $arrow-size;
      }

      &::after {
        border-right-width: $arrow-size - 1;
      }
    }
  }
}

[class*='mtx-popover-after'] {
  .mtx-popover-direction-arrow {
    left: -$arrow-size * 2;

    &::before,
    &::after {
      right: 0;
      border-left-width: 0;
    }

    [dir='rtl'] & {
      left: auto;
      right: -$arrow-size * 2;

      &::before,
      &::after {
        left: 0;
        border-right-width: 0;
      }

      &::before {
        border-left-width: $arrow-size;
      }

      &::after {
        border-left-width: $arrow-size - 1;
      }
    }
  }
}
