<mat-form-field>
  <mat-label>Color picker</mat-label>
  <input matInput [(ngModel)]="color">
  <mat-icon matSuffix>palette</mat-icon>
  <mat-hint>Choose your favorite color</mat-hint>
  <mat-error>Please enter the color</mat-error>
</mat-form-field>
&nbsp;
<mat-slide-toggle [(ngModel)]="disabled">Disabled</mat-slide-toggle>

<h2>Test Reactive Form</h2>

<mat-form-field>
  <mat-label>Color picker</mat-label>
  <input matInput [formControl]="color2">
  <mat-icon matSuffix>palette</mat-icon>
  <mat-hint>Choose your favorite color</mat-hint>
  <mat-error>Please enter the color</mat-error>
</mat-form-field>
&nbsp;
<mat-slide-toggle (change)="toggleDisabled($event)" [checked]="color2.disabled">Disabled
</mat-slide-toggle>

<h2>Test Readonly</h2>

<mat-form-field>
  <mat-label>Color picker</mat-label>
  <input matInput type="color" value="#ff0000" readonly>
  <mat-hint>Choose your favorite color</mat-hint>
  <mat-error>Please enter the color</mat-error>
</mat-form-field>
&nbsp;
<mat-form-field>
  <mat-label>Color picker</mat-label>
  <input matInput [formControl]="color3" [mtxColorpicker]="picker3">
  <mtx-colorpicker-toggle matSuffix [for]="picker3"></mtx-colorpicker-toggle>
  <mtx-colorpicker #picker3></mtx-colorpicker>
  <mat-hint>Choose your favorite color</mat-hint>
  <mat-error>Please enter the color</mat-error>
</mat-form-field>
