h1,
h2,
h3,
h4,
h5,
h6 {
  .header-link {
    display: inline-flex;
    padding: 2px 0;
    margin-left: -30px;
    color: #6e6e6e;
    text-decoration: none;
    user-select: none;
    visibility: hidden;
    vertical-align: middle;
  }

  &:hover .header-link {
    visibility: visible;
  }

  span {
    vertical-align: middle;
  }
}
