<input matInput
       [(ngModel)]="value"
       [placeholder]="placeholder"
       [disabled]="disabled"
       (focusin)="_handleFocus()">

<div #colorPickerTrigger="matMenuTrigger"
     [matMenuTriggerFor]="colorPickerPopover"
     (menuOpened)="open()"
     (menuClosed)="close()">
</div>

<mat-menu #colorPickerPopover="matMenu" class="mtx-color-picker" [hasBackdrop]="false">
    <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <color-chrome [color]="value" (onChangeComplete)="onColorChange($event)"></color-chrome>
    </div>
</mat-menu>