.mtx-color-picker-panel {
  .mat-menu-content:not(:empty) {
    padding: 0;
  }

  .mtx-color-picker {
    padding: 8px;

    .chrome-picker {
      box-shadow: none;
      border-radius: 0;

      .saturation {
        border-radius: 0;
      }
    }
  }
}
