<input matInput
       [(ngModel)]="value"
       [placeholder]="placeholder"
       [disabled]="disabled"
       [readonly]="readonly"
       (focus)="_handleFocus()"
       autocomplete="off">

<div #colorPickerTrigger="matMenuTrigger"
     [matMenuTriggerFor]="colorPickerPopover"
     (menuOpened)="_openPanel()"
     (menuClosed)="_closePanel()">
</div>

<mat-menu #colorPickerPopover="matMenu" class="mtx-color-picker-panel" [hasBackdrop]="false">
  <div class="mtx-color-picker"
       (click)="$event.stopPropagation()"
       (keydown)="$event.stopPropagation()">
    <color-chrome [color]="value" (onChangeComplete)="_onColorChanged($event)"></color-chrome>
  </div>
</mat-menu>
