@use 'sass:map';
@use '../core/tokens/m2-utils';
@use '../core/style/elevation';

@function get-tokens($theme) {
  $system: m2-utils.get-system($theme);

  @return (
    base: (
      drawer-container-shape: 0,
      drawer-container-elevation-shadow: elevation.get-box-shadow(16),
    ),
    color: (
      drawer-container-background-color: map.get($system, surface),
      drawer-container-text-color: map.get($system, on-surface),
    ),
    typography: (),
    density: ()
  );
}
