/* stylelint-disable keyframes-name-pattern */
@use '@angular/cdk' as cdk;
@use '@angular/material' as mat;
@use '../core/tokens/token-utils';
@use './m2-drawer';

$_tokens: m2-drawer.$prefix, m2-drawer.get-token-slots();

@keyframes _mtx-drawer-enter {
  from {
    box-shadow: none;
    visibility: hidden;
  }

  to {
    transform: none;
    visibility: visible;
  }
}

@keyframes _mtx-drawer-exit {
  from {
    transform: none;
    visibility: visible;
  }

  to {
    box-shadow: none;
    visibility: hidden;
  }
}

.mtx-drawer-container {
  display: block;
  width: 100%;
  padding: 8px 16px;
  overflow: auto;
  outline: 0;
  box-sizing: border-box;

  // We don't use this, but it's useful for consumers to position
  // elements (e.g. close buttons) inside the bottom sheet.
  position: relative;

  @include token-utils.use-tokens($_tokens...) {
    background-color: token-utils.slot(container-background-color);
    color: token-utils.slot(container-text-color);
    box-shadow: token-utils.slot(container-elevation-shadow);
  }

  @include cdk.high-contrast(active, off) {
    outline: 1px solid;
  }
}

.mtx-drawer-container-animations-enabled {
  &.mtx-drawer-container-enter {
    animation: _mtx-drawer-enter 150ms cubic-bezier(0, 0, 0.2, 1) forwards;
  }

  &.mtx-drawer-container-exit {
    animation: _mtx-drawer-exit 400ms cubic-bezier(0.25, 0.8, 0.25, 1) backwards;
  }

  &.mtx-drawer-right {
    transform: translateX(100%);
  }

  &.mtx-drawer-left {
    transform: translateX(-100%);
  }

  &.mtx-drawer-bottom {
    transform: translateY(100%);
  }

  &.mtx-drawer-top {
    transform: translateY(-100%);
  }
}

.mtx-drawer-right {
  @include token-utils.use-tokens($_tokens...) {
    border-top-left-radius: token-utils.slot(container-shape);
    border-bottom-left-radius: token-utils.slot(container-shape);
  }
}

.mtx-drawer-left {
  @include token-utils.use-tokens($_tokens...) {
    border-top-right-radius: token-utils.slot(container-shape);
    border-bottom-right-radius: token-utils.slot(container-shape);
  }
}

.mtx-drawer-bottom {
  @include token-utils.use-tokens($_tokens...) {
    border-top-left-radius: token-utils.slot(container-shape);
    border-top-right-radius: token-utils.slot(container-shape);
  }
}

.mtx-drawer-top {
  @include token-utils.use-tokens($_tokens...) {
    border-bottom-left-radius: token-utils.slot(container-shape);
    border-bottom-right-radius: token-utils.slot(container-shape);
  }
}
