@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-homepage {
    .docs-header-background {
      background: mat.get-color-from-palette($primary);
    }

    .docs-header-headline {
      color: mat.get-color-from-palette($primary, default-contrast);
    }

    .docs-header-start {
      color: mat.get-color-from-palette($primary);
    }

    .docs-homepage-row {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }
  }
}
