@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/theming/inspection';
@use '../core/theming/validation';
@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/alert' as tokens-mtx-alert;

@mixin base($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, base));
  }
  @else {
    @include mat.private-current-selector-or-root() {
      @include token-utils.create-token-values(tokens-mtx-alert.$prefix,
        tokens-mtx-alert.get-unthemable-tokens());
    }
  }
}

@mixin color($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, color));
  }
  @else {
    @include mat.private-current-selector-or-root() {
      @include token-utils.create-token-values(tokens-mtx-alert.$prefix,
        tokens-mtx-alert.get-color-tokens($theme));
    }
  }
}

@mixin typography($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, typography));
  }
  @else {}
}

@mixin density($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, density));
  }
  @else {}
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'mtx-alert') {
    @if mat.get-theme-version($theme) == 1 {
      @include _theme-from-tokens(inspection.get-theme-tokens($theme));
    }
    @else {
      @include base($theme);
      @if mat.theme-has($theme, color) {
        @include color($theme);
      }
      @if mat.theme-has($theme, density) {
        @include density($theme);
      }
      @if mat.theme-has($theme, typography) {
        @include typography($theme);
      }
    }
  }
}

@mixin _theme-from-tokens($tokens) {
  @include validation.selector-defined(
    'Calls to Angular Material theme mixins with an M3 theme must be wrapped in a selector');
  @if ($tokens != ()) {
    @include token-utils.create-token-values(tokens-mtx-alert.$prefix,
      map.get($tokens, tokens-mtx-alert.$prefix));
  }
}
