@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme($theme) {
  $background: map.get($theme, background);

  .mtx-alert-ref {
    background-color: mat.get-color-from-palette($background, card);
  }

  .mtx-alert-info .mtx-alert-ref {
    background-color: mat.get-color-from-palette(mat.$blue-palette, 500);
    border-color: mat.get-color-from-palette(mat.$blue-palette, 500);
    color: white;
  }

  .mtx-alert-success .mtx-alert-ref {
    background-color: mat.get-color-from-palette(mat.$green-palette, 500);
    border-color: mat.get-color-from-palette(mat.$green-palette, 500);
    color: white;
  }

  .mtx-alert-warning .mtx-alert-ref {
    background-color: mat.get-color-from-palette(mat.$orange-palette, 500);
    border-color: mat.get-color-from-palette(mat.$orange-palette, 500);
    color: white;
  }

  .mtx-alert-danger .mtx-alert-ref {
    background-color: mat.get-color-from-palette(mat.$red-palette, 500);
    border-color: mat.get-color-from-palette(mat.$red-palette, 500);
    color: white;
  }
}
