@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/alert' as tokens-mtx-alert;

.mtx-alert {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;

  @include token-utils.use-tokens(tokens-mtx-alert.$prefix, tokens-mtx-alert.get-token-slots()) {
    $border-color: token-utils.get-token-variable(outline-color);

    border: 1px solid $border-color;

    @include token-utils.create-token-slot(border-radius, container-shape);
    @include token-utils.create-token-slot(background-color, background-color);
    @include token-utils.create-token-slot(color, text-color);

    &.mtx-alert-info {
      @include token-utils.create-token-slot(border-color, info-outline-color);
      @include token-utils.create-token-slot(background-color, info-background-color);
      @include token-utils.create-token-slot(color, info-text-color);
    }

    &.mtx-alert-success {
      @include token-utils.create-token-slot(border-color, success-outline-color);
      @include token-utils.create-token-slot(background-color, success-background-color);
      @include token-utils.create-token-slot(color, success-text-color);
    }

    &.mtx-alert-warning {
      @include token-utils.create-token-slot(border-color, warning-outline-color);
      @include token-utils.create-token-slot(background-color, warning-background-color);
      @include token-utils.create-token-slot(color, warning-text-color);
    }

    &.mtx-alert-danger {
      @include token-utils.create-token-slot(border-color, danger-outline-color);
      @include token-utils.create-token-slot(background-color, danger-background-color);
      @include token-utils.create-token-slot(color, danger-text-color);
    }
  }
}

.mtx-alert-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  [dir='rtl'] & {
    right: auto;
    left: 0;
  }
}

.mtx-alert-dismissible {
  padding-right: 3rem;
}
