@use '../core/tokens/token-utils';
@use './m3-alert';

$fallbacks: m3-alert.get-tokens();

.mtx-alert {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  border: 1px solid token-utils.slot(alert-outline-color, $fallbacks);
  border-radius: token-utils.slot(alert-container-shape, $fallbacks);
  background-color: token-utils.slot(alert-background-color, $fallbacks);
  color: token-utils.slot(alert-text-color, $fallbacks);

  &.mtx-alert-info {
    border-color: token-utils.slot(alert-info-outline-color, $fallbacks);
    background-color: token-utils.slot(alert-info-background-color, $fallbacks);
    color: token-utils.slot(alert-info-text-color, $fallbacks);
  }

  &.mtx-alert-success {
    border-color: token-utils.slot(alert-success-outline-color, $fallbacks);
    background-color: token-utils.slot(alert-success-background-color, $fallbacks);
    color: token-utils.slot(alert-success-text-color, $fallbacks);
  }

  &.mtx-alert-warning {
    border-color: token-utils.slot(alert-warning-outline-color, $fallbacks);
    background-color: token-utils.slot(alert-warning-background-color, $fallbacks);
    color: token-utils.slot(alert-warning-text-color, $fallbacks);
  }

  &.mtx-alert-danger {
    border-color: token-utils.slot(alert-danger-outline-color, $fallbacks);
    background-color: token-utils.slot(alert-danger-background-color, $fallbacks);
    color: token-utils.slot(alert-danger-text-color, $fallbacks);
  }
}

.mtx-alert-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  [dir='rtl'] & {
    right: auto;
    left: 0;
  }
}

.mtx-alert-dismissible {
  padding-right: 3rem;
}
