:host ::ng-deep .mtx-grid {
  .success {
    background-color: #d1e7dd;
  }

  .danger {
    background-color: #f8d7da;
  }

  .warning {
    background-color: #fff3cd;
  }

  .info {
    background-color: #cff4fc;
  }

  .text-center {
    text-align: center;
  }

  &.fixed-height {
    height: 360px;
  }
}

figure {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 8px;
  border: 1px solid rgba(0, 0, 0, .24);
  line-height: 100px;
  text-align: center;
  vertical-align: middle;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
