:host ::ng-deep .mtx-grid {
  .success {
    background-color: #d1e7dd;
  }

  .danger {
    background-color: #f8d7da;
  }

  .warning {
    background-color: #fff3cd;
  }

  &.fixed-height {
    height: 360px;
  }
}


.group-row {
  width: 100%;
}
