<span *ngIf="summary; else customCellFormattingTpl"
      [title]="_getFormatterTooltip(_formatSummary(data, colDef))"
      [innerHTML]="_getText(_formatSummary(data, colDef))">
</span>

<!-- Custom formatting -->
<ng-template #customCellFormattingTpl>
  <span *ngIf="colDef.formatter; else defaultCellFormattingTpl"
        [title]="_getFormatterTooltip(colDef.formatter(rowData, colDef))"
        [innerHTML]="_getText(colDef.formatter(rowData, colDef))">
  </span>
</ng-template>

<!-- Default formatting -->
<ng-template #defaultCellFormattingTpl>
  <ng-container [ngSwitch]="colDef.type">
    <!-- Tag -->
    <ng-container *ngSwitchCase="'tag'">
      <mat-chip-list *ngIf="colDef.tag && colDef.tag[_colValue]; else tagEmptyTpl">
        <mat-chip color="primary" [ngClass]="['bg-' + colDef.tag[_colValue].color]">
          {{colDef.tag[_colValue].text}}
        </mat-chip>
      </mat-chip-list>
      <ng-template #tagEmptyTpl>{{_colValue}}</ng-template>
    </ng-container>
    <!-- Buttons -->
    <ng-container *ngSwitchCase="'button'">
      <ng-container *ngFor="let btn of colDef.buttons;">
        <ng-container *ngIf="!btn.iif || btn.iif(rowData)">
          <ng-container *ngIf="btn.pop; else btnDefaultTpl">
            <button [ngClass]="['mtx-grid-action-button', btn.class||'']"
                    *ngIf="btn.type==='basic'"
                    mat-button
                    [color]="btn.color || 'primary'"
                    [disabled]="btn.disabled"
                    [matTooltip]="btn.tooltip | toObservable | async"
                    (click)="_handleActionConfirm($event, btn.popTitle!, btn.popDescription,
                                                          btn.popOkColor, btn.popOkText,
                                                          btn.popCloseColor, btn.popCloseText,
                                                          btn.click, rowData)">
              <mat-icon class="mtx-grid-icon" *ngIf="btn.icon">{{btn.icon}}</mat-icon>
              <span>{{btn.text | toObservable | async}}</span>
            </button>
            <button [ngClass]="['mtx-grid-action-button', btn.class||'']"
                    *ngIf="!btn.type || btn.type==='icon'"
                    mat-icon-button
                    [color]="btn.color || 'primary'"
                    [disabled]="btn.disabled"
                    [matTooltip]="btn.tooltip | toObservable | async"
                    (click)="_handleActionConfirm($event, btn.popTitle!, btn.popDescription,
                                                          btn.popOkColor, btn.popOkText,
                                                          btn.popCloseColor, btn.popCloseText,
                                                          btn.click, rowData)">
              <mat-icon class="mtx-grid-icon">{{btn.icon}}</mat-icon>
            </button>
          </ng-container>
          <ng-template #btnDefaultTpl>
            <button [ngClass]="['mtx-grid-action-button', btn.class||'']"
                    *ngIf="btn.type==='basic'"
                    mat-button
                    [color]="btn.color || 'primary'"
                    [disabled]="btn.disabled"
                    [matTooltip]="btn.tooltip | toObservable | async"
                    (click)="_handleActionClick($event, btn, rowData)">
              <mat-icon class="mtx-grid-icon" *ngIf="btn.icon">{{btn.icon}}</mat-icon>
              <span>{{btn.text | toObservable | async}}</span>
            </button>
            <button [ngClass]="['mtx-grid-action-button', btn.class||'']"
                    *ngIf="!btn.type || btn.type==='icon'"
                    mat-icon-button
                    [color]="btn.color || 'primary'"
                    [disabled]="btn.disabled"
                    [matTooltip]="btn.tooltip | toObservable | async"
                    (click)="_handleActionClick($event, btn, rowData)">
              <mat-icon class="mtx-grid-icon">{{btn.icon}}</mat-icon>
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- Link -->
    <ng-container *ngSwitchCase="'link'">
      <a [href]="_colValue" target="_blank">{{_colValue}}</a>
    </ng-container>
    <!-- Image -->
    <ng-container *ngSwitchCase="'image'">
      <img class="mtx-grid-img" [src]="_colValue" (click)="_handleImagePreview(_colValue)">
    </ng-container>
    <!-- Boolean -->
    <ng-container *ngSwitchCase="'boolean'">
      <span [title]="_getTooltip(_colValue)">{{_getText(_colValue)}}</span>
    </ng-container>
    <!-- Number -->
    <ng-container *ngSwitchCase="'number'">
      <span
            [title]="_getTooltip(_colValue | number: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale)">
        {{_getText(_colValue | number: colDef.typeParameter?.digitsInfo :
        colDef.typeParameter?.locale)}}
      </span>
    </ng-container>
    <!-- Currency -->
    <ng-container *ngSwitchCase="'currency'">
      <span
            [title]="_getTooltip(_colValue | currency: colDef.typeParameter?.currencyCode : colDef.typeParameter?.display : colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale)">
        {{_getText(_colValue | currency: colDef.typeParameter?.currencyCode :
        colDef.typeParameter?.display : colDef.typeParameter?.digitsInfo :
        colDef.typeParameter?.locale)}}
      </span>
    </ng-container>
    <!-- Percent -->
    <ng-container *ngSwitchCase="'percent'">
      <span
            [title]="_getTooltip(_colValue | percent: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale)">
        {{_getText(_colValue | percent: colDef.typeParameter?.digitsInfo :
        colDef.typeParameter?.locale)}}
      </span>
    </ng-container>
    <!-- Date -->
    <ng-container *ngSwitchCase="'date'">
      <span
            [title]="_getTooltip(_colValue | date: colDef.typeParameter?.format : colDef.typeParameter?.timezone : colDef.typeParameter?.locale)">
        {{_getText(_colValue | date: colDef.typeParameter?.format : colDef.typeParameter?.timezone :
        colDef.typeParameter?.locale)}}
      </span>
    </ng-container>
    <!-- Default -->
    <ng-container *ngSwitchDefault>
      <span [title]="_getTooltip(_colValue)">{{_getText(_colValue)}}</span>
    </ng-container>
  </ng-container>
</ng-template>
