@use '@angular/material' as mat;

.mtx-grid-column-menu {
  .mat-menu-content {
    padding: 0;
  }
}

.mtx-grid-column-menu-body {
  padding: 16px;
}

.mtx-grid-column-menu-header,
.mtx-grid-column-menu-footer {
  position: sticky;
  z-index: 1;
  padding: 8px 16px;
}

.mtx-grid-column-menu-header {
  top: 0;
}

.mtx-grid-column-menu-footer {
  bottom: 0;
}

.mtx-grid-column-menu-list {
  display: block;
  max-width: 100%;

  &.cdk-drop-list-dragging {
    .mtx-grid-column-menu-item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, .2, 1);
    }
  }

  &.cdk-drop-list {
    .mtx-grid-column-menu-item-label {
      padding: 0 4px;
    }
  }
}

.mtx-grid-column-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;

  &.cdk-drag-disabled {
    .cdk-drag-handle {
      opacity: .35;
      cursor: no-drop;
    }
  }

  .cdk-drag-handle {
    cursor: move;
  }

  &.cdk-drag-preview {
    @include mat.elevation(2);
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, .2, 1);
  }
}

.mtx-grid-column-drag-handle-icon,
.mtx-grid-column-pin-icon,
.mtx-grid-column-pin-off-icon,
.mtx-grid-column-check-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.mtx-grid-column-pin-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.mtx-grid-column-pin-option {
  display: flex;
  align-items: center;
}

.mtx-grid-column-pin-option-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.mtx-grid-column-pin-option-text {
  padding: 0 8px;
}
