@use '@angular/material' as mat;
@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/grid' as tokens-mtx-grid;

$_tokens: tokens-mtx-grid.$prefix, tokens-mtx-grid.get-token-slots();

.mtx-grid-column-menu,
.mtx-grid-column-pin-list {
  @include token-utils.use-tokens($_tokens...) {
    @include token-utils.create-token-slot(color, column-menu-text-color);
  }
}

.mtx-grid-column-menu {
  .mat-mdc-menu-content {
    padding: 0;
  }
}

.mtx-grid-column-menu-body {
  max-height: 65vh;
  padding: 8px 16px;
  overflow: auto;
}

.mtx-grid-column-menu-header,
.mtx-grid-column-menu-footer {
  position: sticky;
  z-index: 1;
  padding: 8px 16px;
}

.mtx-grid-column-menu-header {
  top: 0;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(column-menu-divider-color);

    border-bottom: 1px solid $border-color;
  }
}

.mtx-grid-column-menu-footer {
  bottom: 0;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(column-menu-divider-color);

    border-top: 1px solid $border-color;
  }
}

.mtx-grid-column-menu-list {
  display: block;
  max-width: 100%;

  &.cdk-drop-list-dragging {
    .mtx-grid-column-menu-item:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, .2, 1);
    }
  }
}

.mtx-grid-column-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.cdk-drag-disabled {
    .cdk-drag-handle {
      opacity: .35;
      cursor: no-drop;
    }
  }

  .cdk-drag-handle {
    cursor: move;
  }

  &.cdk-drag-preview {
    border-radius: 4px;

    @include token-utils.use-tokens($_tokens...) {
      $shadow-color: token-utils.get-token-variable(outline-color);

      box-shadow: 0 0 0 1px $shadow-color;
    }
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }

  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, .2, 1);
  }
}

.mtx-grid-column-pin-button.mat-mdc-icon-button {
  .mat-mdc-button-touch-target {
    width: 100%;
    height: 100%;
  }
}

.mtx-grid-column-pin-option.mat-menu-item {
  display: flex;
  align-items: center;
  height: 32px;
}

.mtx-grid-column-pin-option-placeholder {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.mtx-grid-column-pin-option-text {
  padding: 0 8px;
  vertical-align: middle;
}

.mtx-grid-column-drag-handle-icon:hover {
  cursor: move;
}

.mtx-grid-column-menu-item-label.mat-mdc-checkbox {
  .mat-mdc-checkbox-touch-target {
    width: 100%;
    height: 100%;
  }
}
