@switch (buttonType) {
  @case ('raised') {
    <button [class]="buttonClass" mat-raised-button type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
  }
  @case ('stroked') {
    <button [class]="buttonClass" mat-stroked-button type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
  }
  @case ('flat') {
    <button [class]="buttonClass" mat-flat-button type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
    }
  @case ('icon') {
    <button [class]="buttonClass" mat-icon-button type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
    </button>
  }
  @case ('fab') {
    <button [class]="buttonClass" mat-fab type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
  }
  @case ('mini-fab') {
    <button [class]="buttonClass" mat-mini-fab type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
  }
  @default {
    <button [class]="buttonClass" mat-button type="button" [color]="buttonColor"
      [matMenuTriggerFor]="menu">
      @if (buttonIcon) {
        <mat-icon>{{buttonIcon}}</mat-icon>
      }
      {{buttonText}}
    </button>
  }
}

<mat-menu #menu="matMenu" class="mtx-grid-column-menu">
  <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
  <div class="mtx-grid-column-menu-content"
    (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    @if (showHeader) {
      <div class="mtx-grid-column-menu-header">
        @if (headerTemplate) {
          <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
        } @else {
          {{headerText}}
        }
      </div>
    }

    <div class="mtx-grid-column-menu-body">
      @if (sortable) {
        <div class="mtx-grid-column-menu-list"
          cdkDropList (cdkDropListDropped)="_handleDroped($event)">
          @for (col of columns; track col.field) {
            <div class="mtx-grid-column-menu-item"
              cdkDrag [cdkDragDisabled]="selectableChecked === 'show'? !col.show : col.hide">
              <svg class="mtx-grid-icon mtx-grid-column-drag-handle-icon" viewBox="0 0 24 24"
                width="24px" height="24px" fill="currentColor" focusable="false">
                <path d="M7,19V17H9V19H7M11,19V17H13V19H11M15,19V17H17V19H15M7,15V13H9V15H7M11,15V13H13V15H11M15,15V13H17V15H15M7,11V9H9V11H7M11,11V9H13V11H11M15,11V9H17V11H15M7,7V5H9V7H7M11,7V5H13V7H11M15,7V5H17V7H15Z" />
              </svg>
              <ng-template [ngTemplateOutlet]="checkboxList"
                [ngTemplateOutletContext]="{ $implicit: col }">
              </ng-template>
            </div>
          }
        </div>
      }

      @if (!sortable) {
        <div class="mtx-grid-column-menu-list">
          @for (col of columns; track col.field) {
            <div class="mtx-grid-column-menu-item">
              <ng-template [ngTemplateOutlet]="checkboxList"
                [ngTemplateOutletContext]="{ $implicit: col }">
              </ng-template>
            </div>
          }
        </div>
      }
    </div>

    @if (showFooter) {
      <div class="mtx-grid-column-menu-footer">
        @if (footerTemplate) {
          <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
        } @else {
          {{footerText}}
        }
      </div>
    }
  </div>
</mat-menu>

<ng-template #checkboxList let-col>
  @if (pinnable) {
    <button class="mtx-grid-column-pin-button" mat-icon-button type="button"
      [matMenuTriggerFor]="pinList">
      @if (col.pinned) {
        <svg class="mtx-grid-icon mtx-grid-column-pin-icon"
          viewBox="0 0 24 24" width="24px" height="24px" fill="currentColor" focusable="false">
          <path d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
        </svg>
      }
      @if (!col.pinned) {
        <svg class="mtx-grid-icon mtx-grid-column-pin-off-icon"
          viewBox="0 0 24 24" width="24px" height="24px" fill="currentColor" focusable="false">
          <path d="M2,5.27L3.28,4L20,20.72L18.73,22L12.8,16.07V22H11.2V16H6V14L8,12V11.27L2,5.27M16,12L18,14V16H17.82L8,6.18V4H7V2H17V4H16V12Z" />
        </svg>
      }
      </button>
      <mat-menu #pinList="matMenu" class="mtx-grid-column-pin-list">
        @for (item of pinOptions; track item) {
          <button class="mtx-grid-column-pin-option" type="button"
            mat-menu-item
            (click)="_handlePinSelect(col, item.value)">
            <span class="mtx-grid-column-pin-option-placeholder">
              <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
              @if (col.pinned==item.value) {
                <svg class="mtx-grid-icon mtx-grid-column-pin-check-icon"
                  viewBox="0 0 24 24" width="24px" height="24px" fill="currentColor" focusable="false">
                  <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                </svg>
              }
            </span>
            <span class="mtx-grid-column-pin-option-text">{{item.label | toObservable | async}}</span>
          </button>
        }
      </mat-menu>
  }

  @if (selectable) {
    <mat-checkbox class="mtx-grid-column-menu-item-label"
      [(ngModel)]="col[selectableChecked]" [disabled]="col.disabled"
      (change)="_handleChecked(col)">{{col.header | toObservable | async}}</mat-checkbox>
  } @else {
    <span class="mtx-grid-column-menu-item-label">{{col.header | toObservable | async}}</span>
  }
</ng-template>
