@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/grid' as tokens-mtx-grid;

$_tokens: tokens-mtx-grid.$prefix, tokens-mtx-grid.get-token-slots();

.mtx-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(outline-color);

    border: 1px solid $border-color;

    @include token-utils.create-token-slot(border-radius, container-shape);

    .mat-mdc-table {
      --mat-table-row-item-outline-color: #{$border-color};

      &.mat-table-striped .mat-row-odd {
        @include token-utils.create-token-slot(background-color, table-row-striped-background-color);
      }

      &.mat-table-hover {
        .mat-mdc-row:hover {
          @include token-utils.create-token-slot(background-color, table-row-hover-background-color);
        }

        .mat-mdc-row.selected:hover {
          @include token-utils.create-token-slot(background-color, table-row-selected-hover-background-color);
        }
      }

      .mat-mdc-row.selected {
        @include token-utils.create-token-slot(background-color, table-row-selected-background-color);
      }

      .mat-mdc-cell.selected {
        $shadow-color: token-utils.get-token-variable(table-cell-selected-outline-color);

        box-shadow: inset 0 0 0 1px $shadow-color;
      }
    }
  }

  .mat-table-container {
    overflow: auto;

    &.mat-table-with-data {
      flex: 1;
    }
  }

  .mat-mdc-table:not(.mat-column-resize-table) {
    min-width: 100%;
    border-collapse: separate;

    .mat-mdc-header-cell,
    .mat-mdc-footer-cell,
    .mat-mdc-cell {
      &:not(.mtx-grid-checkbox-cell) {
        @include token-utils.use-tokens($_tokens...) {
          @include token-utils.create-token-slot(min-width, table-cell-min-width);
        }
      }
    }
  }

  .mat-table-sticky-left {
    border-right: 1px solid var(--mat-table-row-item-outline-color);

    [dir='rtl'] & {
      border-right-width: 0;
      border-left: 1px solid var(--mat-table-row-item-outline-color);
    }
  }

  .mat-table-sticky-right {
    border-left: 1px solid var(--mat-table-row-item-outline-color);

    [dir='rtl'] & {
      border-left-width: 0;
      border-right: 1px solid var(--mat-table-row-item-outline-color);
    }
  }

  .mat-mdc-footer-cell {
    border-top: 1px solid var(--mat-table-row-item-outline-color);

    @include token-utils.use-tokens($_tokens...) {
      @include token-utils.create-token-slot(background-color, table-footer-background-color);
    }
  }

  .mat-mdc-row.mtx-grid-expansion {
    height: 0;
    overflow: hidden;

    .mat-mdc-cell {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.collapsed .mat-mdc-cell {
      border-bottom-width: 0;
    }
  }

  .mat-sort-header-icon {
    margin-left: 4px;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 4px;
    }
  }

  .mat-header-cell-inner {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }

  .mat-mdc-paginator {
    @include token-utils.use-tokens($_tokens...) {
      $border-color: token-utils.get-token-variable(outline-color);

      border-top: 1px solid $border-color;

      @include token-utils.create-token-slot(border-bottom-left-radius, container-shape);
      @include token-utils.create-token-slot(border-bottom-right-radius, container-shape);
    }
  }

  .mat-paginator-hidden {
    display: none;
  }

  .mtx-grid-checkbox-cell {
    width: 60px;
    min-width: 60px;
    padding: 0 calc((60px - var(--mdc-checkbox-state-layer-size, 40px)) / 2);
  }
}

.mtx-grid-progress {
  position: absolute;
  top: 0;
  z-index: 120;
  width: 100%;
}

.mtx-grid-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--mat-table-header-container-height, 56px);
  padding: 8px;
  box-sizing: border-box;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(outline-color);

    border-bottom: 1px solid $border-color;
  }
}

.mtx-grid-toolbar-content {
  flex: 1;
  width: 0;
  padding: 0 8px;
}

.mtx-grid-layout {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
}

.mtx-grid-content {
  flex-direction: column;
  width: 0;
}

.mtx-grid-sidebar {
  max-width: 50%;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(outline-color);

    border-left: 1px solid $border-color;

    [dir='rtl'] & {
      border-left-width: 0;
      border-right: 1px solid $border-color;
    }
  }
}

.mtx-grid-footer {
  position: relative;
  z-index: 1;
}

.mtx-grid-statusbar {
  display: flex;
  align-items: center;
  min-height: var(--mat-table-header-container-height, 56px);
  padding: 8px;
  box-sizing: border-box;

  @include token-utils.use-tokens($_tokens...) {
    $border-color: token-utils.get-token-variable(outline-color);

    border-top: 1px solid $border-color;
  }
}

.mtx-grid-no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 150px;
}

.mtx-grid-expansion-placeholder {
  display: inline-block;
  vertical-align: middle;

  @include token-utils.use-tokens($_tokens...) {
    $compat-size: token-utils.get-token-variable(row-expand-button-size, 40px);

    width: var(--mdc-icon-button-state-layer-size, $compat-size);
    height: var(--mdc-icon-button-state-layer-size, $compat-size);
  }
}

.mtx-grid-expansion-detail {
  display: flex;
  align-items: center;
  min-height: var(--mat-table-row-item-container-height, 52px);
  overflow: hidden;
}

.mtx-grid-row-expand-button {
  &.expanded .mtx-grid-row-expand-icon {
    transform: rotate(90deg);
  }

  &.mat-mdc-icon-button,
  +mtx-grid-cell {
    vertical-align: middle;
  }
}
