.mat-list-item {
  min-width: 15vw;

  &.active {
    background-color: rgba(140, 150, 160, .15);
  }
}

.nav-item-title {
  padding: 0 16px;
  margin: 16px 0 8px;
  color: rgba(0, 0, 0, .35);
  font-size: 80%;
}
