@use '@angular/material' as mat;

@mixin theme($theme) {
  .docs-markdown {
    h3 {
      border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    th {
      background-color: mat.get-theme-color($theme, surface-container);
    }

    td {
      border: 1px solid mat.get-theme-color($theme, outline-variant);
    }
  }
}
