@use '@angular/material' as mat;

@mixin theme($theme) {
  .docs-markdown {
    h3 {
      border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    tr {
      border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    pre {
      border: solid 1px mat.get-theme-color($theme, outline-variant);
    }
  }
}
