.docs-markdown {
  h1,
  h2 {
    font-weight: 400;
  }

  h3 {
    margin: 40px 0 20px;
    padding-bottom: 3px;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  h4 {
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;

    code {
      padding: 0;
      background: none;
      border: none;
    }
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 13px;
  }

  table {
    width: 100%;
    margin: 0 0 32px;
    border-collapse: collapse;
    border-spacing: 0;

    code {
      padding: 0;
      background: none;
      border: none;
    }
  }

  th {
    max-width: 100px;
    padding: 14px 16px;
    font-weight: 500;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }

  td {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
  }

  pre {
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    border-radius: 12px;
    white-space: pre-wrap;
    border: 1px solid var(--mat-sys-outline-variant);
  }
}
