.mat-radio-button {
  margin: 1rem;
}

.mat-checkbox {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

.mat-form-field {
  margin-right: 1rem;
}

.mat-card {
  max-width: 300px;
}

.mat-slider {
  margin: 0 .5rem;
}

mat-placeholder {
  text-transform: capitalize;
}
