:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.docs-navbar-header {
  position: relative;
  z-index: 999;

  &.mat-toolbar {
    height: 56px;
  }

  .docs-angular-logo {
    height: 26px;
    margin: 0 4px 3px 0;
  }
}

.docs-navbar {
  &.mat-toolbar {
    height: 36px;
  }
}
