.loader-demo {
  padding: 0 16px;
  margin: 16px 0;
  border: 1px solid #000;
}

.loader-demo-wrap {
  height: 200px;
  padding: 0 16px;
  margin: 16px 0;
  border: 1px solid #000;
}

span {
  margin: 0 8px;
  vertical-align: middle;
}
