<section>
  <mat-checkbox [(ngModel)]="loading">Loading</mat-checkbox>
  <mat-checkbox [(ngModel)]="hasBackdrop">hasBackdrop</mat-checkbox>

  <label for="">Type:</label>
  <mat-radio-group [(ngModel)]="type">
    <mat-radio-button value="spinner">spinner</mat-radio-button>
    <mat-radio-button value="progressbar">progressbar</mat-radio-button>
  </mat-radio-group>

  <label for="">Color:</label>
  <mat-radio-group [(ngModel)]="color">
    <mat-radio-button value="primary">primary</mat-radio-button>
    <mat-radio-button value="accent">accent</mat-radio-button>
    <mat-radio-button value="warn">warn</mat-radio-button>
  </mat-radio-group>

  <label for="">StrokeWidth:</label>
  <mat-slider [max]="10" [min]="1">
    <input matSliderThumb [(ngModel)]="strokeWidth" />
  </mat-slider>
  <label for="">Diameter:</label>
  <mat-slider [max]="100" [min]="10">
    <input matSliderThumb [(ngModel)]="diameter" />
  </mat-slider>
</section>

<mtx-loader
  [loading]="loading"
  [type]="type"
  [color]="color"
  [hasBackdrop]="hasBackdrop"
  [strokeWidth]="strokeWidth"
  [diameter]="diameter"
>
  <div class="loader-demo">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
      beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci
      velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
      suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
      reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
      dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
  </div>
</mtx-loader>

<div class="loader-demo-wrap">
  @if (loading) {
    <mtx-loader [type]="type" [color]="color" [hasBackdrop]="hasBackdrop" />
  }

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>

  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
    odit aut fugit, sed quia consequuntur magni dolores eodolor sit amet, consectetur, adipisci
    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
    quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
    suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
    reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
    dolorem eum fugiat quo voluptas nulla pariatur?
  </p>
</div>
