.loader-demo {
  padding: 0 16px;
  margin: 16px 0;
  border: 1px solid;
}

.loader-demo-wrap {
  position: relative;
  padding: 0 16px;
  margin: 16px 0;
  border: 1px solid;

  .mtx-loader {
    position: absolute;
    left: 0;
  }
}

label {
  margin: 0 8px;
  vertical-align: middle;
}
