@use '@angular/material' as mat;
@use '../all-theme';

// Define a theme.
$primary: mat.define-palette(mat.$pink-palette, 700, 500, 900);
$accent:  mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include all theme styles for the components.
@include all-theme.all-component-themes($theme);
