@use '@angular/material' as mat;
@use '../../../core/tokens/m3-system';

html {
  @include m3-system.theme((
    color: (
      theme-type: light,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
