@use '~@angular/material' as mat;
@use './column-resize/column-resize';

@mixin mtx-grid-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mtx-grid {
    border: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), .2);

    .mat-table-sticky-left,
    .mat-table-sticky-right {
      border-color: mat.get-color-from-palette($foreground, divider);
    }

    .mat-table {
      &.mat-table-striped {
        .mat-row-odd {
          background-color: if($is-dark-theme, #3a3a3a, #f5f5f5);
        }
      }

      &.mat-table-hover {
        .mat-row:hover {
          background-color: if($is-dark-theme, #2a2a2a, #e5e5e5);
        }
      }
    }

    .mat-row {
      &.selected,
      &.mat-row-odd.selected {
        background-color: if($is-dark-theme, #2a2a2a, #e5e5e5);
      }
    }

    .mat-cell {
      &.selected {
        box-shadow: inset 0 0 0 1px mat.get-color-from-palette($accent);
      }
    }

    .mat-footer-row {
      .mat-footer-cell {
        border-top: 1px solid mat.get-color-from-palette($foreground, divider);
        border-bottom-width: 0;
        background-color: mat.get-color-from-palette($background, app-bar);
      }
    }

    .mat-paginator {
      border-top: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), .2);
    }
  }

  .mtx-grid-toolbar {
    border-bottom: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), .2);
  }

  .mtx-grid-sidebar {
    border-color: rgba(mat.get-color-from-palette($foreground, secondary-text), .2);
  }

  .mtx-grid-statusbar {
    border-top: 1px solid rgba(mat.get-color-from-palette($foreground, secondary-text), .2);
  }

  .mtx-grid-column-menu-item {
    color: mat.get-color-from-palette($foreground, text);
  }

  .mtx-grid-column-menu-header,
  .mtx-grid-column-menu-footer {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, card);
  }

  .mtx-grid-column-menu-header {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .mtx-grid-column-menu-footer {
    border-top: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  @include column-resize.color($theme);
}
