<button mat-stroked-button [matMenuTriggerFor]="menu">
    Columns {{selectedType === 'show'? 'Shown' : 'Hidden'}}
</button>
<mat-menu #menu="matMenu" class="mtx-grid-column-selection">
    <div class="mtx-grid-column-selection-inner"
         (click)="$event.stopPropagation()"
         (keydown)="$event.stopPropagation()">

        <div class="mtx-grid-column-selection-list"
             cdkDropList (cdkDropListDropped)="handleDrop($event)"
             *ngIf="sortable">
            <div class="mtx-grid-column-selection-item" *ngFor="let col of columns"
                 cdkDrag [cdkDragDisabled]="selectedType === 'show'? !col.show : col.hide">
                <mat-icon cdkDragHandle>drag_handle</mat-icon>
                <ng-template [ngTemplateOutlet]="checkboxList"
                             [ngTemplateOutletContext]="{ $implicit: col }">
                </ng-template>
            </div>
        </div>

        <div class="mtx-grid-column-selection-list" *ngIf="!sortable">
            <div class="mtx-grid-column-selection-item" *ngFor="let col of columns">
                <ng-template [ngTemplateOutlet]="checkboxList"
                             [ngTemplateOutletContext]="{ $implicit: col }">
                </ng-template>
            </div>
        </div>
    </div>
</mat-menu>

<ng-template #checkboxList let-col>
    <mat-checkbox class="mtx-grid-column-selection-label"
                  *ngIf="selectable"
                  [(ngModel)]="col[selectedType]"
                  [disabled]="col.disabled"
                  (change)="handleSelect($event)">
        {{col.label}}
    </mat-checkbox>
    <span class="mtx-grid-column-selection-label" *ngIf="!selectable">{{col.label}}</span>
</ng-template>