<!-- Editable Cell -->
<ng-container *ngIf="col.edit; else uneditTpl"></ng-container>

<!-- Uneditable Cell -->
<ng-template #uneditTpl>
  <div [ngSwitch]="col.type">
    <!-- Tag -->
    <ng-container *ngSwitchCase="'tag'">
      <mat-chip-list *ngIf="col.tag[colValue]; else tagEmptyTpl">
        <mat-chip color="primary" [ngClass]="['bg-' + col.tag[colValue].color]">
          {{col.tag[colValue].text}}
        </mat-chip>
      </mat-chip-list>
      <ng-template #tagEmptyTpl>{{colValue}}</ng-template>
    </ng-container>
    <!-- Image -->
    <ng-container *ngSwitchCase="'img'">
      <img class="img" [src]="colValue" (click)="preview(colValue)">
    </ng-container>
    <!-- Link -->
    <ng-container *ngSwitchCase="'link'">
      <a [href]="colValue" target="_blank">{{colValue}}</a>
    </ng-container>
    <!-- Buttons -->
    <ng-container *ngSwitchCase="'button'">
      <ng-container *ngFor="let btn of col.buttons; index as i; last as isLast">
        <ng-container *ngIf="!btn.iif || btn.iif(data)">
          <button *ngIf="btn.pop; else btnDefaultTpl"
                  mat-icon-button
                  [color]="btn.color || 'primary'"
                  [matTooltip]="btn.tooltip"
                  (click)="confirm(btn.popTitle, btn.click, data)">
            <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
          </button>
          <ng-template #btnDefaultTpl>
            <button mat-icon-button
                    [color]="btn.color || 'primary'"
                    [matTooltip]="btn.tooltip"
                    (click)="btn.click(data)">
              <mat-icon class="icon-18">{{btn.icon}}</mat-icon>
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
    <!-- Format -->
    <ng-container *ngSwitchCase="'format'">
      <span [innerHTML]="col.format(data) || '--'"></span>
    </ng-container>
    <!-- Number -->
    <ng-container *ngSwitchCase="'number'">
      {{(colValue | number:'1.2-2') || '--'}}
    </ng-container>
    <!-- Currency -->
    <ng-container *ngSwitchCase="'currency'">
      {{(colValue | currency:'¥') || '--'}}
    </ng-container>
    <!-- Percent -->
    <ng-container *ngSwitchCase="'percent'">
      {{(colValue | percent) || '--'}}
    </ng-container>
    <!-- Default -->
    <ng-container *ngSwitchDefault>
      {{colValue || '--'}}
    </ng-container>
  </div>
</ng-template>
