<!-- Progress Bar-->
<mat-progress-bar class="mtx-grid-progress" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<!-- Toolbar -->
<div class="mtx-grid-toolbar" *ngIf="showToolbar">
  <mtx-grid-column-menu [columns]="columnMenuData"
                        [buttonText]="columnMenuButtonText"
                        [buttonType]="columnMenuButtonType"
                        [buttonColor]="columnMenuButtonColor"
                        [buttonClass]="columnMenuButtonClass"
                        [buttonIcon]="columnMenuButtonIcon"
                        [selectable]="columnHideable"
                        [selectedType]="columnHidingChecked"
                        [sortable]="columnMovable"
                        (selectionChange)="handleColumnHidingChange($event)"
                        (sortChange)="handleColumnMovingChange($event)">
  </mtx-grid-column-menu>
</div>

<!-- Main Table -->
<div class="mtx-grid-content">
  <table mat-table
         [ngClass]="{'mat-table-hover': rowHover,
                     'mat-table-striped': rowStriped,
                     'mat-table-expandable': expandable}"
         [dataSource]="dataSource" [multiTemplateDataRows]="expandable"
         matSort (matSortChange)="handleSortChange($event)">

    <ng-container *ngIf="rowSelectable && !hideRowSelectionCheckbox"
                  matColumnDef="MtxGridCheckboxColumnDef">
      <th mat-header-cell *matHeaderCellDef class="mtx-grid-checkbox-cell">
        <mat-checkbox (change)="$event ? handleMasterToggle() : null"
                      [checked]="rowSelection.hasValue() && isAllSelected()"
                      [indeterminate]="rowSelection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row;" class="mtx-grid-checkbox-cell">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? handleSingleToggle(row) : null"
                      [checked]="rowSelection.isSelected(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container *ngFor="let col of columns;">
      <ng-container [matColumnDef]="col.field"
                    [sticky]="col.pinned==='left'"
                    [stickyEnd]="col.pinned==='right'">

        <th mat-header-cell *matHeaderCellDef
            [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
            [ngStyle]="{'width': col.width, 'min-width': col.width, 'left': col.left, 'right': col.right}">
          <div class="mat-header-cell-inner">

            <ng-template [ngIf]="isTemplateRef(headerTemplate)" [ngIfElse]="headerCellTpl">
              <ng-template [ngTemplateOutlet]="headerTemplate"
                           [ngTemplateOutletContext]="{ $implicit: col, colDef: col }">
              </ng-template>
            </ng-template>
            <ng-template #headerCellTpl>
              <ng-template [ngIf]="headerTemplate && isTemplateRef(headerTemplate[col.field])"
                           [ngIfElse]="defaultHeaderCellTpl">
                <ng-template [ngTemplateOutlet]="headerTemplate[col.field]"
                             [ngTemplateOutletContext]="{ $implicit: col, colDef: col }">
                </ng-template>
              </ng-template>
            </ng-template>
            <ng-template #defaultHeaderCellTpl>
              <div mat-sort-header [disabled]="!col.sortable">
                <span class="mtx-grid-expanison-placeholder" *ngIf="col.showExpand"></span>
                <span>{{col.header}}</span>
                <mat-icon class="mat-sort-header-icon" *ngIf="col.sortable">sort</mat-icon>
              </div>
            </ng-template>

          </div>
        </th>

        <td mat-cell *matCellDef="let row; let index = index; let dataIndex = dataIndex;"
            [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
            [ngStyle]="{'width': col.width, 'min-width': col.width, 'left': col.left, 'right': col.right}"
            mtx-selectable-cell (cellSelectionChange)="handleCellSelect($event, row, col)">

          <ng-template [ngIf]="isTemplateRef(cellTemplate)" [ngIfElse]="cellTpl">
            <ng-template [ngTemplateOutlet]="cellTemplate"
                         [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
            </ng-template>
          </ng-template>
          <ng-template #cellTpl>
            <ng-template [ngIf]="cellTemplate && isTemplateRef(cellTemplate[col.field])"
                         [ngIfElse]="colDefCellTpl">
              <ng-template [ngTemplateOutlet]="cellTemplate[col.field]"
                           [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
              </ng-template>
            </ng-template>
          </ng-template>
          <ng-template #colDefCellTpl>
            <ng-template [ngIf]="col.cellTemplate" [ngIfElse]="defaultCellTpl"
                         [ngTemplateOutlet]="col.cellTemplate"
                         [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
            </ng-template>
          </ng-template>
          <ng-template #defaultCellTpl>
            <button *ngIf="col.showExpand" mat-icon-button mtx-expansion-toggle
                    (toggleChange)="handleExpansionChange($event, row, col, dataIndex);">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>

            <mtx-grid-cell [rowData]="row" [colDef]="col"></mtx-grid-cell>
          </ng-template>

        </td>

        <td mat-footer-cell *matFooterCellDef
            [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
            [ngStyle]="{'width': col.width, 'min-width': col.width, 'left': col.left, 'right': col.right}">
          <span class="mtx-grid-expanison-placeholder" *ngIf="col.showExpand"></span>

          <ng-template [ngIf]="isTemplateRef(footerTemplate)" [ngIfElse]="footerCellTpl">
            <ng-template [ngTemplateOutlet]="footerTemplate"
                         [ngTemplateOutletContext]="{ $implicit: col, colDef: col, data: data }">
            </ng-template>
          </ng-template>
          <ng-template #footerCellTpl>
            <ng-template [ngIf]="footerTemplate && isTemplateRef(footerTemplate[col.field])"
                         [ngIfElse]="defaultFooterCellTpl">
              <ng-template [ngTemplateOutlet]="footerTemplate[col.field]"
                           [ngTemplateOutletContext]="{ $implicit: col, colDef: col, data: data }">
              </ng-template>
            </ng-template>
          </ng-template>
          <ng-template #defaultFooterCellTpl>
            <span>{{col.footer}}</span>
          </ng-template>

        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; let index = index; let dataIndex = dataIndex; columns: displayedColumns;"
        [ngClass]="{'selected': rowSelection.isSelected(row), 'mat-row-odd': isOddRow(index, dataIndex)}"
        (click)="handleRowSelect($event, row)">
    </tr>
    <ng-container *ngIf="whetherShowFooter">
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </ng-container>

    <ng-container *ngIf="expandable">
      <!-- Expanded Content Column - The expandable row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="MtxGridExpansionColumnDef">
        <td mat-cell *matCellDef="let row; let dataIndex = dataIndex"
            [attr.colspan]="displayedColumns.length">
          <div class="mtx-grid-expanison-detail"
               [@expansion]="expansionRowStates[dataIndex].expanded ? 'expanded' : 'collapsed'">
            <ng-template [ngTemplateOutlet]="expansionTemplate"
                         [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: dataIndex }">
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-row [ngClass]="{'mtx-grid-expanison': true,
                              'expanded': expansionRowStates[dataIndex].expanded,
                              'collapsed': !expansionRowStates[dataIndex].expanded}"
          *matRowDef="let row; columns: ['MtxGridExpansionColumnDef']; let dataIndex = dataIndex">
      </tr>
    </ng-container>

  </table>
</div>

<!-- Paginator -->
<mat-paginator [class.mat-paginator-hidden]="!showPaginator || hasNoResult"
               [showFirstLastButtons]="showFirstLastButtons"
               [length]="length"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [hidePageSize]="hidePageSize"
               (page)="page.emit($event)"
               [disabled]="pageDisabled">
</mat-paginator>

<!-- No Result -->
<div class="mtx-grid-no-result" *ngIf="hasNoResult">
  <ng-container *ngIf="noResultTemplate else defaultNoResultTpl">
    <ng-template [ngTemplateOutlet]="noResultTemplate"></ng-template>
  </ng-container>
  <ng-template #defaultNoResultTpl>{{noResultText}}</ng-template>
</div>
