@import '~@angular/material/theming';

.mtx-grid {
  position: relative;
  display: block;
  width: 100%;

  .mtx-grid-progress {
    position: absolute;
    top: 0;
    z-index: 109;
  }

  .mtx-grid-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    padding: 8px;
  }

  .mtx-grid-layout {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
  }

  .mtx-grid-content {
    width: 0;
  }

  .mtx-grid-sidebar {
    width: 30px;
  }

  .mat-table {
    flex: none;
    min-width: 100%;
    border-collapse: separate;
  }

  .mat-footer-row,
  .mat-header-row,
  .mat-row {
    align-items: stretch;
  }

  .mat-header-cell,
  .mat-footer-cell,
  .mat-cell {
    min-width: 80px;
    padding: 4px 10px;
    box-sizing: border-box;
  }

  .mat-cell:first-of-type,
  .mat-footer-cell:first-of-type,
  .mat-header-cell:first-of-type {
    padding-left: 24px;

    &.mtx-grid-checkbox-cell {
      padding-left: 10px;
      padding-right: 10px;
    }

    [dir='rtl'] & {
      padding-left: 4px;
      padding-right: 24px;

      &.mtx-grid-checkbox-cell {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .mat-cell:last-of-type,
  .mat-footer-cell:last-of-type,
  .mat-header-cell:last-of-type {
    padding-right: 24px;

    [dir='rtl'] & {
      padding-left: 24px;
      padding-right: 4px;
    }
  }

  .mat-table-sticky-left,
  .mat-table-sticky-right {
    flex: none;
  }

  .mtx-grid-expansion {
    height: 0;
    overflow: hidden;

    .mat-cell {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.collapsed {
      .mat-cell {
        border-bottom-width: 0;
      }
    }
  }

  .mtx-grid-expansion-detail {
    display: flex;
    align-items: center;
    min-height: 48px;
    overflow: hidden;
  }

  .mtx-grid-expansion-placeholder {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }

  .mat-row {
    &:last-of-type {
      .mat-cell {
        border-bottom-width: 0;
      }
    }
  }

  .mat-cell {
    .mat-cell-img {
      width: 30px;
      border-radius: 4px;
      cursor: pointer;
    }

    .mat-cell-action-button {
      .mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        line-height: 18px;
      }
    }

    .mat-icon-button.expanded {
      .mat-icon {
        transform: rotate(90deg);
      }
    }
  }

  .mat-paginator-hidden {
    display: none;
  }

  .mtx-grid-checkbox-cell {
    flex: none;
    justify-content: center;
    min-width: 40px;

    // Fix checkbox height
    .mat-checkbox {
      display: flex;
    }

    // Fix RTL checkbox margin
    .mat-checkbox-inner-container {
      margin-left: 0;
    }
  }

  .mtx-grid-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }

  .mat-sort-header-icon {
    width: 18px;
    height: 18px;
    margin: 0 4px;
    font-size: 18px;
  }

  .mat-header-cell-inner {
    display: flex;
    align-items: center;
  }
}
