<!-- Progress Bar-->
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<!-- Toolbar -->
<div class="mtx-grid-toolbar" *ngIf="showToolbar">
  <mtx-grid-column-selection [columns]="columnSelectionData"
                             [selectable]="columnHideable"
                             [selectedType]="columnHidingChecked"
                             [sortable]="columnMovable"
                             (selectionChange)="handleColumnHidingChange($event)"
                             (sortChange)="handleColumnMovingChange($event)">
  </mtx-grid-column-selection>
</div>

<!-- Main Table -->
<div class="mtx-grid-content">
  <mat-table [ngClass]="{'mat-table-hover': rowHover, 'mat-table-striped': rowStriped}"
             [dataSource]="dataSource" [multiTemplateDataRows]="expandable"
             matSort (matSortChange)="handleSortChange($event)">

    <ng-container *ngIf="rowSelectable && !hideRowSelectionCheckbox"
                  matColumnDef="MatCheckboxColumnDef">
      <mat-header-cell *matHeaderCellDef class="mat-checkbox-column-cell">
        <mat-checkbox (change)="$event ? handleMasterToggle() : null"
                      [checked]="rowSelection.hasValue() && isAllSelected()"
                      [indeterminate]="rowSelection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row;" class="mat-checkbox-column-cell">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? handleSingleToggle(row) : null"
                      [checked]="rowSelection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let col of columns;">
      <ng-container [matColumnDef]="col.field"
                    [sticky]="col.pinned==='left'"
                    [stickyEnd]="col.pinned==='right'">

        <mat-header-cell *matHeaderCellDef
                         [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
                         [ngStyle]="{'width': col.width, 'min-width': col.width, 'left': col.left, 'right': col.right}"
                         mat-sort-header [disabled]="!col.sortable">

          <span class="mat-expanison-placeholder" *ngIf="col.showExpand"></span>{{col.header}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let index = index; let dataIndex = dataIndex;"
                  [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
                  [ngStyle]="{'width': col.width, 'min-width': col.width, 'left': col.left, 'right': col.right}"
                  mtx-selectable-cell (cellSelectionChange)="handleCellSelect($event, row, col)">

          <ng-container *ngIf="col.cellTemplate else defaultCellTpl">
            <ng-template [ngTemplateOutlet]="col.cellTemplate"
                         [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
            </ng-template>
          </ng-container>

          <ng-template #defaultCellTpl>
            <button *ngIf="col.showExpand" mat-icon-button mtx-expansion-toggle
                    (toggleChange)="handleExpansionChange($event, row, col, dataIndex);">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>

            <mtx-grid-cell [rowData]="row" [colDef]="col"> </mtx-grid-cell>
          </ng-template>

        </mat-cell>

      </ng-container>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
    </mat-header-row>
    <mat-row *matRowDef="let row; let index = index; let dataIndex = dataIndex; columns: displayedColumns;"
             [ngClass]="{'selected': rowSelection.isSelected(row), 'mat-row-odd': isOddRow(index, dataIndex)}"
             (click)="handleRowSelect($event, row)">
    </mat-row>

    <ng-container *ngIf="expandable">
      <!-- Expanded Content Column - The expandable row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="MatExpansionColumnDef">
        <mat-cell *matCellDef="let row; let dataIndex = dataIndex"
                  [attr.colspan]="displayedColumns.length">
          <ng-template [ngTemplateOutlet]="expansionTemplate"
                       [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: dataIndex }">
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-row class="mat-expanison-row"
               *matRowDef="let row; columns: ['MatExpansionColumnDef']; let dataIndex = dataIndex"
               [@expansion]="expansionRowStates[dataIndex].expanded ? 'expanded' : 'collapsed'">
      </mat-row>
    </ng-container>

  </mat-table>
</div>
<!-- Paginator -->
<mat-paginator [class.mat-paginator-hidden]="!showPaginator"
               [showFirstLastButtons]="showFirstLastButtons"
               [length]="length"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [hidePageSize]="hidePageSize"
               (page)="page.emit($event)"
               [disabled]="pageDisabled">
</mat-paginator>