<div
  class="mtx-file-upload-wrapper"
  [class.mtx-file-upload-success]="uploadSuccess"
  [class.mtx-file-upload-error]="uploadError"
  (drop)="fileDrop($event)"
  (dragover)="dragOver($event)"
>
  <input
    type="file"
    accept="image/*"
    (change)="fileChange($event)"
    hidden
    #fileInput
  />
  <div class="mtx-file-upload-file-dropper" (click)="fileInput.click()">
    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"><path d="M450-313v-371L330-564l-43-43 193-193 193 193-43 43-120-120v371h-60ZM220-160q-24 0-42-18t-18-42v-143h60v143h520v-143h60v143q0 24-18 42t-42 18H220Z"/></svg>
    <p>{{ uploadPlaceholder() }}</p>
    @if (imageName()) {
      <div>
        @if (selectedFile || imagePreview()) {
          <div>
            <img
              [src]="imagePreview()"
              width="100px"
              height="auto"
              alt="Image Preview"
              class="mtx-file-upload-image-preview"
            />
            <!--            <p>-->
            <!--              <span class="mtx-file-upload-image-name">{{ imageName() }}</span> ({{-->
            <!--                fileSize()-->
            <!--              }} KB)-->
            <!--            </p>-->
            <!--            <mat-icon class="mtx-file-upload-delete-icon" (click)="removeImage()">delete</mat-icon>-->
          </div>
        }
      </div>
    }

  </div>
  @if (selectedFile || imagePreview()) {
    <div>
      <p>
        <span class="mtx-file-upload-image-name">{{ imageName() }}</span> ({{
          fileSize()
        }} KB)
      </p>
      <mat-icon class="mtx-file-upload-delete-icon" (click)="removeImage()">delete</mat-icon>
    </div>
  }
</div>
