:host {
  display: block;
  padding: 20px 0;
}

.docs-example-viewer-wrapper {
  border-radius: 4px;
}

.docs-example-viewer-title {
  display: flex;
  place-content: center center;
  align-items: center;
  padding: 8px 8px 8px 16px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-viewer-body {
  padding: 30px;
}

.button-bar {
  float: right;
  padding: 8px;
}

.code-snippet {
  padding: 20px;
}

.docs-example-source {
  // TODO(annieyw): remove when standalone snippets are removed
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 14px;
}
