@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/tokens/m3-utils';
@use '../core/tokens/m3';

/// Generates custom tokens for the mtx-loader.
@function get-tokens($theme: m3.$sys-theme) {
  $system: m3-utils.get-system($theme);

  $tokens: (
    base: (),
    color: (
      loader-backdrop-background-color: m3-utils.color-with-opacity(map.get($system, surface), 75%),
    ),
    typography: (),
    density: (),
  );

  @return $tokens;
}
