@if (loading && hasBackdrop) {
  <div class="mtx-loader-backdrop"></div>
}
@if (loading) {
  <div class="mtx-loader-main">
    @if (type === 'spinner') {
      <mat-spinner
        [color]="color"
        [strokeWidth]="strokeWidth"
        [diameter]="diameter"
        [mode]="$any(mode)"
        [value]="value"
      ></mat-spinner>
    }
    @if (type === 'progressbar') {
      <mat-progress-bar
        [color]="color"
        [mode]="$any(mode)"
        [value]="value"
        [bufferValue]="bufferValue"
      ></mat-progress-bar>
    }
  </div>
}
<ng-content></ng-content>
