@use '../core/tokens/token-utils';
@use './m3-loader';

$fallbacks: m3-loader.get-tokens();

.mtx-loader {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.mtx-loader-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 210;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .mat-mdc-spinner {
    position: relative;
  }

  .mat-mdc-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mtx-loader-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: token-utils.slot(loader-backdrop-background-color, $fallbacks);
}
