@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/loader' as tokens-mtx-loader;

.mtx-loader {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.mtx-loader-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 210;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .mat-mdc-spinner {
    position: relative;
  }

  .mat-mdc-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mtx-loader-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: block;
  width: 100%;
  height: 100%;
  content: '';

  @include token-utils.use-tokens(tokens-mtx-loader.$prefix, tokens-mtx-loader.get-token-slots()) {
    @include token-utils.create-token-slot(background-color, backdrop-background-color);
  }
}
