<button mat-raised-button color="primary"
        #popoverTrigger="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover"
        [mtxPopoverTriggerOn]="'hover'">
  Show Popover
</button>

<mtx-popover #popover="mtxPopover"
             [xPosition]="'after'"
             [yPosition]="'above'"
             [enterDelay]="1000"
             [leaveDelay]="1000"
             [overlapTrigger]="false"
             [closeOnPanelClick]="true"
             [closeOnBackdropClick]="false">
  <mat-card>
    <mat-card-content>
      A material design popover component created using Angular with the Angular CDK.
    </mat-card-content>
  </mat-card>
</mtx-popover>

<button mat-raised-button color="accent"
        #popoverTrigger2="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover2"
        [mtxPopoverTriggerOn]="'click'">
  Show Popover2
</button>

<mtx-popover #popover2="mtxPopover"
             [xPosition]="'center'"
             [yPosition]=""
             [enterDelay]=""
             [leaveDelay]=""
             [panelOffsetX]="50"
             [panelOffsetY]="50"
             [overlapTrigger]="false"
             [closeOnPanelClick]="false">
  <div style="max-width: 300px;">
    A material design popover component created using Angular with the Angular CDK.
  </div>
</mtx-popover>

<mat-toolbar #target>popover target</mat-toolbar>

<div mtxPopoverTarget #target2="mtxPopoverTarget">popover target</div>

<mtx-popover-target #target3="mtxPopoverTarget">popover target</mtx-popover-target>
