<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<span>some random text goes here to push it right so that we can test the styles</span>
<button
  mat-raised-button
  color="primary"
  #popoverTrigger="mtxPopoverTrigger"
  [mtxPopoverTriggerFor]="popover"
  [mtxPopoverTriggerOn]="'click'"
  (popoverOpened)="log()"
  (popoverClosed)="log()"
>
  Show Popover
</button>

<mtx-popover
  #popover="mtxPopover"
  [xPosition]="'after'"
  [yPosition]="'right'"
  [enterDelay]=""
  [leaveDelay]=""
  [arrowOffsetX]="28"
  [overlapTrigger]="false"
  [closeOnPanelClick]="true"
  [closeOnBackdropClick]="true"
  (closed)="log()"
>
  <mat-card style="max-width: 200px">
    <mat-card-content>
      A material design popover component created using Angular with the Angular CDK.
    </mat-card-content>
  </mat-card>
</mtx-popover>

<mat-toolbar #target>popover target</mat-toolbar>

<div mtxPopoverTarget #target2="mtxPopoverTarget">popover target</div>

<mtx-popover-target #target3="mtxPopoverTarget">popover target</mtx-popover-target>
