@import '../../../styles/constants';

app-component-sidenav {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.docs-component-viewer-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.docs-component-viewer-sidenav {
  overflow: auto;
}

.mat-drawer {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.docs-component-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
    overflow: auto;
  }
}

.docs-component-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

.mat-list-base {
  padding-top: 0;
}

.docs-component-viewer-nav-content .mat-nav-list .mat-list-item .mat-list-item-content {
  padding-left: 25px;
}

@media (max-width: $small-breakpoint-width) {
  // Add specific rule to prevent default rule conflict
  .docs-component-viewer-sidenav-container .docs-component-viewer-sidenav {
    // position right above the content
    z-index: 4;
  }

  .docs-component-viewer-nav {
    position: relative;
    top: 0;

    .docs-component-viewer-nav-content {
      box-sizing: border-box;
      margin: 0;
      max-height: initial;
    }
  }
}

@media (max-width: $extra-small-breakpoint-width) {
  .docs-component-viewer-sidenav-container {
    flex: 1 0 auto;
  }

  .docs-component-sidenav-body-content {
    flex-direction: column;
  }
}
