.mat-radio-button {
  margin: 1rem;
}

.mat-checkbox {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

.mat-form-field {
  margin-right: 1rem;
}

.popover-position {
  .mat-form-field {
    width: 80px;
    margin: 0;
    font-size: 14px;
  }
}
