@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/style/sass-utils';
@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/datetimepicker' as tokens-mtx-datetimepicker;

@mixin _calendar-color($config, $palette) {
  $palette-color: mat.get-color-from-palette(map.get($config, $palette));
  $calendar-tokens: tokens-mtx-datetimepicker.private-get-calendar-color-palette-color-tokens($config, $palette);

  @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $calendar-tokens);
}

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);

  @include sass-utils.current-selector-or-root() {
    @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
      tokens-mtx-datetimepicker.get-color-tokens($config));
  }

  .mtx-datetimepicker-content {
    &.mat-accent {
      @include _calendar-color($config, accent);
    }

    &.mat-warn {
      @include _calendar-color($config, warn);
    }
  }

  .mtx-datetimepicker-toggle-active {
    &.mat-accent {
      $accent-tokens: tokens-mtx-datetimepicker.private-get-toggle-color-palette-color-tokens($config, accent);
      @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $accent-tokens);
    }

    &.mat-warn {
      $warn-tokens: tokens-mtx-datetimepicker.private-get-toggle-color-palette-color-tokens($config, warn);
      @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $warn-tokens);
    }
  }
}

@mixin typography($config-or-theme) {
  $config: mat.private-typography-to-2014-config(mat.get-typography-config($config-or-theme));

  @include sass-utils.current-selector-or-root() {
    @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
      tokens-mtx-datetimepicker.get-typography-tokens($config));
  }
}

@mixin density($config-or-theme) {}

@mixin theme($theme-or-color-config) {
  $theme: mat.private-legacy-get-theme($theme-or-color-config);

  @include mat.private-check-duplicate-theme-styles($theme, 'mtx-datetimepicker') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color !=null {
      @include color($color);
    }

    @if $density !=null {
      @include density($density);
    }

    @if $typography !=null {
      @include typography($typography);
    }
  }
}
