@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/style/sass-utils';
@use '../core/theming/inspection';
@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/datetimepicker' as tokens-mtx-datetimepicker;

@mixin _calendar-color($theme, $palette-name) {
  $palette-color: mat.get-theme-color($theme, $palette-name);
  $calendar-tokens: tokens-mtx-datetimepicker.private-get-calendar-color-palette-color-tokens($theme, $palette-name);

  @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $calendar-tokens);
}

@mixin base($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, base));
  }
  @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
        tokens-mtx-datetimepicker.get-unthemable-tokens());
    }
  }
}

@mixin color($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, color));
  }
  @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
        tokens-mtx-datetimepicker.get-color-tokens($theme));
    }

    .mtx-datetimepicker-content {
      &.mat-accent {
        @include _calendar-color($theme, accent);
      }

      &.mat-warn {
        @include _calendar-color($theme, warn);
      }
    }

    .mtx-datetimepicker-toggle-active {
      &.mat-accent {
        $accent-tokens: tokens-mtx-datetimepicker.private-get-toggle-color-palette-color-tokens($theme, accent);
        @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $accent-tokens);
      }

      &.mat-warn {
        $warn-tokens: tokens-mtx-datetimepicker.private-get-toggle-color-palette-color-tokens($theme, warn);
        @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix, $warn-tokens);
      }
    }
  }
}

@mixin typography($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, typography));
  }
  @else {
    @include sass-utils.current-selector-or-root() {
      @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
        tokens-mtx-datetimepicker.get-typography-tokens($theme));
    }
  }
}

@mixin density($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, density));
  }
  @else {}
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'mtx-datetimepicker') {
    @if mat.get-theme-version($theme) == 1 {
      @include _theme-from-tokens(inspection.get-theme-tokens($theme));
    }
    @else {
      @include base($theme);
      @if mat.theme-has($theme, color) {
        @include color($theme);
      }
      @if mat.theme-has($theme, density) {
        @include density($theme);
      }
      @if mat.theme-has($theme, typography) {
        @include typography($theme);
      }
    }
  }
}

@mixin _theme-from-tokens($tokens) {
  @if ($tokens != ()) {
    @include token-utils.create-token-values(tokens-mtx-datetimepicker.$prefix,
      map.get($tokens, tokens-mtx-datetimepicker.$prefix));
  }
}
