@use 'sass:color';
@use 'sass:map';
@use 'sass:meta';
@use '../core/tokens/m2-utils';
@use '../core/tokens/m3-utils';
@use '../core/style/elevation';

@function get-tokens($theme) {
  $system: m2-utils.get-system($theme);

  @return (
    base: (
      datetimepicker-container-elevation-shadow: elevation.get-box-shadow(4),
      datetimepicker-container-touch-elevation-shadow: elevation.get-box-shadow(24),
      datetimepicker-container-shape: 4px,
      datetimepicker-container-touch-shape: 4px,
      datetimepicker-selector-container-shape: 4px,
    ),
    color: private-get-color-palette-color-tokens($theme, primary),
    typography: (
      datetimepicker-calendar-text-font: map.get($system, body-large-font),
      datetimepicker-calendar-text-size: 13px,
      datetimepicker-calendar-body-label-text-size: map.get($system, label-small-size),
      datetimepicker-calendar-body-label-text-weight: map.get($system, label-small-weight),
      datetimepicker-calendar-period-button-text-size: map.get($system, label-small-size),
      datetimepicker-calendar-period-button-text-weight: map.get($system, label-small-weight),
      datetimepicker-calendar-table-header-text-size: 11px,
      datetimepicker-calendar-table-header-text-weight: map.get($system, body-large-weight),
      datetimepicker-clock-text-size: 14px,
    ),
    density: ()
  );
}

// Tokens that can be configured through Angular Material's color theming API.
@function private-get-color-palette-color-tokens($theme, $color-variant) {
  $system: m2-utils.get-system($theme);
  $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);
  $disabled: m3-utils.color-with-opacity(map.get($system, on-surface), 38%);

  @return (
    datetimepicker-calendar-date-selected-state-text-color: map.get($system, on-primary),
    datetimepicker-calendar-date-selected-state-background-color: map.get($system, primary),
    datetimepicker-calendar-date-selected-disabled-state-background-color: m3-utils.color-with-opacity(
      map.get($system, primary), 38%),
    datetimepicker-calendar-date-today-selected-state-outline-color: map.get($system, on-primary),
    datetimepicker-calendar-date-focus-state-background-color: m3-utils.color-with-opacity(
      map.get($system, primary), map.get($system, focus-state-layer-opacity)),
    datetimepicker-calendar-date-hover-state-background-color: m3-utils.color-with-opacity(
      map.get($system, primary), map.get($system, focus-state-layer-opacity)),

    datetimepicker-toggle-active-state-icon-color: map.get($system, primary),
    datetimepicker-toggle-icon-color: map.get($system, on-surface-variant),
    datetimepicker-calendar-body-label-text-color: map.get($system, on-surface-variant),
    // datepicker-calendar-period-button-text-color: map.get($system, on-surface),
    // datepicker-calendar-period-button-icon-color: map.get($system, on-surface-variant),
    // datepicker-calendar-navigation-button-icon-color: map.get($system, on-surface-variant),
    datetimepicker-calendar-header-divider-color: transparent,
    datetimepicker-calendar-header-text-color: white,

    datetimepicker-calendar-body-week-number-text-color: map.get($system, on-surface-variant),
    datetimepicker-calendar-header-background-color: map.get($system, primary),
    datetimepicker-calendar-table-header-text-color: map.get($system, on-surface-variant),

    datetimepicker-calendar-date-today-outline-color: map.get($system, on-surface-variant),
    // datetimepicker-calendar-date-today-disabled-state-outline-color: $disabled,
    datetimepicker-calendar-date-text-color: map.get($system, on-surface),
    datetimepicker-calendar-date-outline-color: transparent,
    datetimepicker-calendar-date-disabled-state-text-color: $disabled,
    // datetimepicker-calendar-date-preview-state-outline-color: map.get($system, on-surface-variant),

    datetimepicker-container-background-color: map.get($system, surface),
    datetimepicker-container-text-color: map.get($system, on-surface),

    datetimepicker-clock-dial-background-color: map.get($system, outline),
    datetimepicker-clock-cell-text-color: map.get($system, on-surface),
    datetimepicker-clock-cell-hover-state-background-color: m3-utils.color-with-opacity(
      map.get($system, on-surface), map.get($system, hover-state-layer-opacity)),
    datetimepicker-clock-cell-disabled-state-text-color: $disabled,
    datetimepicker-clock-cell-selected-state-background-color: map.get($system, primary),
    datetimepicker-clock-hand-background-color: map.get($system, primary),

    datetimepicker-time-input-active-state-text-color: map.get($system, primary),
    datetimepicker-time-input-active-state-background-color: m3-utils.color-with-opacity(
      map.get($system, primary), 20%),
    datetimepicker-time-input-focus-state-outline-color: map.get($system, primary),
    datetimepicker-time-input-focus-state-placeholder-text-color: m3-utils.color-with-opacity(
      map.get($system, primary), 60%),
    datetimepicker-time-input-text-color: map.get($system, on-surface),
    datetimepicker-time-input-background-color: map.get($system, outline),
    datetimepicker-time-input-focus-state-background-color: map.get($system, primary-container),
    datetimepicker-time-input-warn-state-outline-color: map.get($system, error),
    datetimepicker-time-ampm-text-color: m3-utils.color-with-opacity(map.get($system, on-surface), 75%),
    datetimepicker-time-ampm-outline-color: m3-utils.color-with-opacity(map.get($system, on-surface), 38%),
    datetimepicker-time-ampm-selected-state-text-color: map.get($system, on-surface),
    datetimepicker-time-ampm-selected-state-background-color: m3-utils.color-with-opacity(
      map.get($system, primary), 20%),
  );
}
