$calendar-padding: 8px !default;
$calendar-weekday-table-font-size: 11px !default;

// We use the same padding as the month / year label, but subtract 16px since there is padding
// between the edge of the button and the text. This ensures that the button text lines up with
// the month / year label text.
$calendar-controls-side-margin: calc(33% / 7 - 16px);

// Values chosen to approximate https://material.io/icons/#ic_navigate_before and
// https://material.io/icons/#ic_navigate_next as closely as possible.
$calendar-prev-next-icon-border-width: 2px;
$calendar-prev-next-icon-margin: 15.5px;
$calendar-prev-icon-transform: translateX(2px) rotate(-45deg);
$calendar-next-icon-transform: translateX(-2px) rotate(45deg);

.mtx-calendar {
  display: block;

  &[mode='landscape'] {
    display: flex;
  }
}

.mtx-calendar-header {
  padding: $calendar-padding * 2;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;

  [mode='landscape'] & {
    width: 150px;
    min-width: 150px;
    border-radius: 4px 0 0 4px;

    [dir='rtl'] & {
      border-radius: 0 4px 4px 0;
    }
  }
}

.mtx-calendar-header-year,
.mtx-calendar-header-date-time {
  width: 100%;
  font-weight: 400;
  white-space: nowrap;
}

.mtx-calendar-header-year {
  height: 32px;
  line-height: 32px;
  font-size: 16px;

  .mat-icon {
    vertical-align: middle;
  }
}

.mtx-calendar-header-date-time {
  font-size: 30px;
  line-height: 34px;

  [mode='landscape'] & {
    white-space: normal;
    word-wrap: break-word;
  }
}

.mtx-calendar-header-ampm-container {
  font-size: .77em;
}

.mtx-calendar-header-year,
.mtx-calendar-header-date,
.mtx-calendar-header-hours,
.mtx-calendar-header-minutes,
.mtx-calendar-header-ampm {
  &:not(.active) {
    cursor: pointer;
    opacity: .6;
  }

  &.not-clickable {
    cursor: initial;
  }
}

.mtx-calendar-header-time {
  display: inline-block;
  padding-left: 8px;

  &:not(.active) {
    opacity: .6;

    .mtx-calendar-header-hours,
    .mtx-calendar-header-minutes,
    .mtx-calendar-header-ampm {
      cursor: pointer;
      opacity: 1;
    }
  }

  [dir='rtl'] & {
    padding-right: 8px;
  }

  [mode='landscape'] & {
    display: block;
    padding: 0;
  }
}

.mtx-calendar-content {
  width: 100%;
  padding: $calendar-padding;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;
}

.mtx-calendar-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 $calendar-controls-side-margin;

  .mat-icon-button:hover .mat-button-focus-overlay {
    opacity: .04;
  }
}

.mtx-calendar-period-button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  outline: none;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

.mtx-calendar-previous-button,
.mtx-calendar-next-button {
  &.disabled {
    pointer-events: none;
  }

  svg {
    fill: currentColor;
    vertical-align: top;

    [dir='rtl'] & {
      transform: rotate(180deg);
    }
  }
}

.mtx-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.mtx-calendar-table-header {
  th {
    text-align: center;
    font-size: $calendar-weekday-table-font-size;
    font-weight: 400;
    padding: $calendar-padding 0;
  }
}

@media all and (orientation: landscape) {
  .mtx-calendar[mode='auto'] {
    display: flex;

    .mtx-calendar-header {
      width: 150px;
      min-width: 150px;
      border-radius: 4px 0 0 4px;

      [dir='rtl'] & {
        border-radius: 0 4px 4px 0;
      }
    }

    .mtx-calendar-header-date-time {
      white-space: normal;
      word-wrap: break-word;
    }

    .mtx-calendar-header-time {
      display: block;
      padding: 0;
    }

    .mtx-calendar-content {
      padding-top: $calendar-padding;
    }
  }
}
