@import '~@angular/material/theming';

$mat-calendar-padding: 8px !default;
$mat-calendar-weekday-table-font-size: 11px !default;

// Values chosen to approximate https://material.io/icons/#ic_navigate_before and
// https://material.io/icons/#ic_navigate_next as closely as possible.
$mat-calendar-prev-next-icon-border-width: 2px;
$mat-calendar-prev-next-icon-margin: 15.5px;
$mat-calendar-prev-icon-transform: translateX(2px) rotate(-45deg);
$mat-calendar-next-icon-transform: translateX(-2px) rotate(45deg);

.mat-datetimepicker-calendar {
  @include user-select(none);

  display: block;
  outline: none;

  &[mode='landscape'] {
    display: flex;
  }
}

.mat-datetimepicker-calendar-header {
  padding: $mat-calendar-padding * 2;
  font-size: 14px;
  color: white;
  box-sizing: border-box;

  [mode='landscape'] & {
    width: 150px;
    min-width: 150px;
  }
}

.mat-datetimepicker-calendar-header-year,
.mat-datetimepicker-calendar-header-date-time {
  width: 100%;
  font-weight: 500;
  white-space: nowrap;
}

.mat-datetimepicker-calendar-header-year {
  font-size: 16px;

  mat-icon {
    transform: translateY(5px);
  }
}

.mat-datetimepicker-calendar-header-date-time {
  font-size: 30px;
  line-height: 34px;

  [mode='landscape'] & {
    white-space: normal;
    word-wrap: break-word;
  }
}

.mat-datetimepicker-calendar-header-ampm-container {
  font-size: .77em;
}

.mat-datetimepicker-calendar-header-year,
.mat-datetimepicker-calendar-header-date,
.mat-datetimepicker-calendar-header-hours,
.mat-datetimepicker-calendar-header-minutes,
.mat-datetimepicker-calendar-header-ampm {
  &:not(.active) {
    cursor: pointer;
    opacity: .6;
  }

  &.not-clickable {
    cursor: initial;
  }
}

.mat-datetimepicker-calendar-header-time {
  padding-left: 8px;

  &:not(.active) {
    opacity: .6;

    .mat-datetimepicker-calendar-header-hours,
    .mat-datetimepicker-calendar-header-minutes,
    .mat-datetimepicker-calendar-header-ampm {
      cursor: pointer;
      opacity: 1;
    }
  }

  [mode='landscape'] & {
    display: block;
    padding-left: 0;
  }
}

.mat-datetimepicker-calendar-content {
  width: 100%;
  padding: 0 $mat-calendar-padding $mat-calendar-padding $mat-calendar-padding;
  outline: none;
  box-sizing: border-box;
  overflow: hidden;

  [mode='landscape'] & {
    padding-top: $mat-calendar-padding;
  }
}

.mat-datetimepicker-calendar-controls {
  display: flex;
  justify-content: space-between;
}

.mat-datetimepicker-calendar-period-button {
  display: inline-block;
  height: 48px;
  padding: 12px;
  outline: none;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

.mat-datetimepicker-calendar-previous-button,
.mat-datetimepicker-calendar-next-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 12px;
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  box-sizing: border-box;

  &.disabled {
    color: rgba(black, .38);
    pointer-events: none;
  }

  svg {
    fill: currentColor;
    vertical-align: top;
  }
}

.mat-datetimepicker-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.mat-datetimepicker-calendar-table-header {
  color: rgba(black, .38);

  th {
    text-align: center;
    font-size: $mat-calendar-weekday-table-font-size;
    padding: 0 0 $mat-calendar-padding 0;
  }
}

@media (min-width: 480px) {
  .mat-datetimepicker-calendar[mode='auto'] {
    display: flex;

    .mat-datetimepicker-calendar-header {
      width: 150px;
      min-width: 150px;
    }

    .mat-datetimepicker-calendar-header-date-time {
      white-space: normal;
      word-wrap: break-word;
    }

    .mat-datetimepicker-calendar-header-time {
      display: block;
      padding-left: 0;
    }

    .mat-datetimepicker-calendar-content {
      padding-top: $mat-calendar-padding;
    }
  }
}
