@use '~@angular/material' as mat;

$calendar-padding: 8px;
$non-touch-calendar-cell-size: 40px;
$non-touch-calendar-portrait-width: $non-touch-calendar-cell-size * 7 + $calendar-padding * 2;
$non-touch-calendar-portrait-height: 405px;
$non-touch-calendar-landscape-width: 446px;
$non-touch-calendar-landscape-height: 328px;

.mtx-datetimepicker-content {
  display: block;
  border-radius: 4px;
  overflow: hidden;

  @include mat.elevation(8);
}

.mtx-calendar {
  width: $non-touch-calendar-portrait-width;
  height: $non-touch-calendar-portrait-height;

  &[mode='landscape'] {
    width: $non-touch-calendar-landscape-width;
    height: $non-touch-calendar-landscape-height;
  }
}

@media (min-width: 480px) {
  .mtx-calendar[mode='auto'] {
    width: $non-touch-calendar-landscape-width;
    height: $non-touch-calendar-landscape-height;
  }
}

.mtx-datetimepicker-content-touch {
  display: block;
}

.mtx-datetimepicker-dialog .mat-dialog-container {
  padding: 0;
}
