@import '~@angular/material/theming';

$mat-datetimepicker-calendar-padding: 8px;
$mat-datetimepicker-calendar-cell-size: 40px;
$mat-datetimepicker-calendar-portrait-width: $mat-datetimepicker-calendar-cell-size * 7 +
  $mat-datetimepicker-calendar-padding * 2;
$mat-datetimepicker-calendar-landscape-width: 446px;
$mat-datetimepicker-calendar-portrait-height: 405px;
$mat-datetimepicker-calendar-landscape-height: 328px;

.mat-datetimepicker-content {
  @include mat-elevation(8);

  display: block;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.mat-datetimepicker-calendar {
  width: $mat-datetimepicker-calendar-portrait-width;
  height: $mat-datetimepicker-calendar-portrait-height;

  &[mode='landscape'] {
    width: $mat-datetimepicker-calendar-landscape-width;
    height: $mat-datetimepicker-calendar-landscape-height;
  }
}

@media (min-width: 480px) {
  .mat-datetimepicker-calendar[mode='auto'] {
    width: $mat-datetimepicker-calendar-landscape-width;
    height: $mat-datetimepicker-calendar-landscape-height;
  }
}

.mat-datetimepicker-content-touch {
  @include mat-elevation(0);

  display: block;
  box-shadow:
    0 11px 15px -7px rgba(black, .2),
    0 24px 38px 3px rgba(black, .14),
    0 9px 46px 8px rgba(black, .12);
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(.25, .8, .25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: .48;
}

.cdk-overlay-dark-backdrop {
  background: rgba(black, .6);
}

.mat-datetimepicker-dialog .mat-dialog-container {
  padding: 0;
}
