@import '~@angular/material/theming';

$datetimepicker-calendar-padding: 8px;
$datetimepicker-calendar-cell-size: 40px;
$datetimepicker-calendar-portrait-width: $datetimepicker-calendar-cell-size * 7 +
  $datetimepicker-calendar-padding * 2;
$datetimepicker-calendar-landscape-width: 446px;
$datetimepicker-calendar-portrait-height: 405px;
$datetimepicker-calendar-landscape-height: 328px;

.mat-datetimepicker-content {
  @include mat-elevation(8);

  display: block;
  border-radius: 4px;
  overflow: hidden;
}

.mat-datetimepicker-calendar {
  width: $datetimepicker-calendar-portrait-width;
  height: $datetimepicker-calendar-portrait-height;

  &[mode='landscape'] {
    width: $datetimepicker-calendar-landscape-width;
    height: $datetimepicker-calendar-landscape-height;
  }
}

@media (min-width: 480px) {
  .mat-datetimepicker-calendar[mode='auto'] {
    width: $datetimepicker-calendar-landscape-width;
    height: $datetimepicker-calendar-landscape-height;
  }
}

.mat-datetimepicker-content-touch {
  display: block;
}

.mat-datetimepicker-dialog .mat-dialog-container {
  padding: 0;
}
