@use '@angular/cdk';
@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/datetimepicker' as tokens-mtx-datetimepicker;

$_tokens: tokens-mtx-datetimepicker.$prefix, tokens-mtx-datetimepicker.get-token-slots();

// We support the case where the form field is disabled, but the datetimepicker is not.
// MDC sets `pointer-events: none` on disabled form fields which prevents clicks on the toggle.
.mtx-datetimepicker-toggle {
  pointer-events: auto;

  @include token-utils.use-tokens($_tokens...) {
    @include token-utils.create-token-slot(color, toggle-icon-color);
  }
}

.mtx-datetimepicker-toggle-active {
  @include token-utils.use-tokens($_tokens...) {
    @include token-utils.create-token-slot(color, toggle-active-state-icon-color);
  }
}

@include cdk.high-contrast(active, off) {
  .mtx-datetimepicker-toggle-default-icon {
    // On Chromium-based browsers the icon doesn't appear to inherit the text color in high
    // contrast mode so we have to set it explicitly. This is a no-op on IE and Firefox.
    color: CanvasText;
  }
}
