$time-font-size: 36px;
$time-border-radius: 8px;
$time-input-width: 72px;
$time-input-height: 56px;
$time-seperator-width: 24px;
$time-ampm-width: 40px;

.mtx-time {
  display: block;
  outline: none;
  user-select: none;
}

.mtx-time-input-wrapper {
  padding: 8px 0;
  text-align: center;
}

.mtx-time-input-inner {
  display: inline-flex;
  height: $time-input-height;
}

.mtx-time-input {
  box-sizing: border-box;
  width: $time-input-width;
  height: 100%;
  padding: 0;
  font-size: $time-font-size;
  text-align: center;
  border-radius: $time-border-radius;
  border: 2px solid transparent;
  appearance: none;
  outline: none;
}

.mtx-time-seperator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $time-seperator-width;
  font-size: $time-font-size;
}

// AM/PM buttons
.mtx-time-ampm {
  display: inline-flex;
  flex-direction: column;
  margin-left: 12px;

  [dir='rtl'] & {
    margin-left: auto;
    margin-right: 12px;
  }

  .mtx-time-am,
  .mtx-time-pm {
    --mdc-typography-button-font-weight: 400;

    flex: 1;
    width: $time-ampm-width;
    min-width: auto;
    border-width: 1px;
    border-style: solid;

    .mat-mdc-button-touch-target {
      height: 100%;
    }
  }

  .mtx-time-am {
    border-radius: $time-border-radius $time-border-radius 0 0;
  }

  .mtx-time-pm {
    border-radius: 0 0 $time-border-radius $time-border-radius;
    border-top: none;
  }
}

.mtx-time-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;

  .mat-mdc-button-base + .mat-mdc-button-base {
    margin-left: 8px;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
