@use '../core/tokens/token-utils';
@use '../core/tokens/m2/mtx/datetimepicker' as tokens-mtx-datetimepicker;

$time-font-size: 36px;
$time-input-width: 72px;
$time-input-height: 56px;
$time-seperator-width: 24px;
$time-ampm-width: 40px;

$_tokens: tokens-mtx-datetimepicker.$prefix, tokens-mtx-datetimepicker.get-token-slots();

.mtx-time {
  display: block;
  outline: none;
  user-select: none;
}

.mtx-time-input-wrapper {
  padding: 8px 0;
  text-align: center;
}

.mtx-time-input-inner {
  display: inline-flex;
  height: $time-input-height;
}

.mtx-time-input {
  box-sizing: border-box;
  width: $time-input-width;
  height: 100%;
  padding: 0;
  font-size: $time-font-size;
  text-align: center;
  border: 2px solid transparent;
  appearance: none;
  outline: none;

  @include token-utils.use-tokens($_tokens...) {
    @include token-utils.create-token-slot(border-radius, selector-container-shape);
    @include token-utils.create-token-slot(background-color, time-input-background-color);
    @include token-utils.create-token-slot(color, time-input-text-color);

    &.mtx-time-input-active {
      @include token-utils.create-token-slot(background-color, time-input-active-state-background-color);
      @include token-utils.create-token-slot(color, time-input-active-state-text-color);

      &:focus {
        @include token-utils.create-token-slot(border-color, time-input-focus-state-outline-color);
        @include token-utils.create-token-slot(background-color, time-input-focus-state-background-color);

        &::placeholder {
          @include token-utils.create-token-slot(color, time-input-focus-state-placeholder-text-color);
        }
      }
    }

    &.mtx-time-input-warning {
      @include token-utils.create-token-slot(border-color, time-input-warn-state-outline-color);
    }
  }
}

.mtx-time-separator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $time-seperator-width;
  font-size: $time-font-size;
}

// AM/PM buttons
.mtx-time-ampm {
  display: inline-flex;
  flex-direction: column;
  margin-left: 12px;

  [dir='rtl'] & {
    margin-left: auto;
    margin-right: 12px;
  }

  .mtx-time-am,
  .mtx-time-pm {
    --mdc-text-button-label-text-weight: 400;

    flex: 1;
    width: $time-ampm-width;
    min-width: auto;
    border-width: 1px;
    border-style: solid;

    @include token-utils.use-tokens($_tokens...) {
      @include token-utils.create-token-slot(--mdc-text-button-label-text-color, time-ampm-text-color);
      @include token-utils.create-token-slot(--mdc-text-button-container-shape, selector-container-shape);
      @include token-utils.create-token-slot(border-color, time-ampm-outline-color);

      &.mtx-time-ampm-active {
        --mdc-text-button-label-text-weight: 500;

        @include token-utils.create-token-slot(--mdc-text-button-label-text-color, time-ampm-selected-state-text-color);
        @include token-utils.create-token-slot(background-color, time-ampm-selected-state-background-color);
      }
    }

    .mat-mdc-button-touch-target {
      height: 100%;
    }
  }

  .mtx-time-am {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .mtx-time-pm {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
  }
}

.mtx-time-button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;

  .mat-mdc-button-base+.mat-mdc-button-base {
    margin-left: 8px;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
