html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  text-align: unset;
}

h1 {
  font-size: 20px;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

main {
  height: 100%;
}

// Helps fonts on OSX looks more consistent with other systems
// Isn't currently in button styles due to performance concerns
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-sidenav {
  min-width: 15vw;
  position: fixed;

  .mat-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }

  .mat-list-item {
    &.active {
      background-color: rgba(63, 80, 181, .15);
    }
  }
}

.demo-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.nav-item-title {
  padding: 0 16px;
  margin: 16px 0 8px;
  color: rgba(0, 0, 0, .35);
  font-size: 80%;
}

.demo-header {
  position: sticky;
  top: 0;
  z-index: 999;

  &.mat-toolbar {
    height: 56px;
  }

  .mat-icon {
    cursor: pointer;
  }

  .demo-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

// stretch to screen size in fullscreen mode
.demo-content {
  width: 100%;
  height: calc(100% - 56px);
  padding: 32px;
  box-sizing: border-box;
  overflow: auto;

  h1, h2, h3, h4, h5, h6 {
    .header-link {
      display: inline-flex;
      padding: 2px 0;
      margin: 0 4px;
      color: #6e6e6e;
      text-decoration: none;
      user-select: none;
      visibility: hidden;
      vertical-align: text-top;
    }

    &:hover .header-link {
      visibility: visible;
    }
  }
}
