html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  text-align: unset;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

code {
  padding: 3px;
  font-size: 90%;
  background-color: rgba(0, 0, 0, .03);
  word-wrap: break-word;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 75%;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

// Helps fonts on OSX looks more consistent with other systems
// Isn't currently in button styles due to performance concerns
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.docs-container {
  width: 100%;
  height: calc(100% - 56px);
}

.docs-header {
  position: relative;
  z-index: 999;

  &.mat-toolbar {
    height: 56px;
  }

  .docs-angular-logo {
    height: 26px;
    margin: 0 4px 3px 0;
  }
}

// stretch to screen size in fullscreen mode
.docs-content {
  width: 100%;
  height: 100%;
  padding: 32px;
  box-sizing: border-box;
  overflow: auto;
}
