<ng-progress color="white"></ng-progress>

<mat-toolbar class="docs-header mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="start.toggle()" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo" src="assets/img/angular-white-transparent.svg" alt="angular">
    <span fxHide.lt-md>Material Extensions</span>
  </a>

  <span fxFlex></span>

  <button fxHide.lt-md mat-button (click)="rippleOptions.disabled = !rippleOptions.disabled"
          matTooltip="Toggle ripples">
    {{rippleOptions.disabled ? 'Enable' : 'Disable'}} ripples
  </button>
  <button fxHide.lt-md mat-icon-button (click)="toggleFullscreen()"
          matTooltip="Toggle fullscreen">
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleTheme()"
          matTooltip="Toggle the theme">
    <mat-icon>{{dark ? 'brightness_3' : 'wb_sunny'}}</mat-icon>
  </button>
  <button mat-icon-button (click)="dir.value = (dir.value === 'rtl' ? 'ltr' : 'rtl')"
          matTooltip="Toggle between RTL and LTR">
    <mat-icon>
      {{dir.value === 'rtl' ? 'format_textdirection_r_to_l' : 'format_textdirection_l_to_r'}}
    </mat-icon>
  </button>

  <a mat-icon-button href="https://github.com/ng-matero/extensions" target="_blank">
    <img alt="angular" src="assets/img/github-circle-white-transparent.svg">
  </a>
</mat-toolbar>

<mat-sidenav-container class="docs-container">
  <mat-sidenav #start role="navigation"
               [mode]="(isScreenSmall | async) ? 'over' : 'side'"
               [opened]="(isScreenSmall | async) === false">
    <app-component-nav (navChange)="changeNav(start)"></app-component-nav>
  </mat-sidenav>

  <main class="docs-content mat-app-background">
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
