.mat-radio-button {
  margin: 1em;
}

.mat-checkbox {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

.mat-button-base {
  margin: 0 .5rem;
}

.loader-demo {
  padding: 16px;
  margin: 16px 0;
  border: 1px solid;
}
