:host {
  display: block;
  padding: 20px 0;
}

.docs-example-viewer-wrapper {
  border-radius: 4px;
  // margin: 24px 0;

  h3 {
    margin-top: 10px;
  }
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 16px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-viewer-body {
  padding: 30px;
}

.button-bar {
  float: right;
  padding: 8px;
}

.docs-example-source {
  // TODO(annieyw): remove when standalone snippets are removed
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 14px;
}

.code-snippet {
  padding: 20px;
  background: rgba(0, 0, 0, .01);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}
