.mat-radio-button {
  margin: 1em;
}

.mat-checkbox {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

:host ::ng-deep {
  .mtx-form-group {
    display: block;

    .mtx-form-label {
      width: 120px;
    }
  }
}
