.docs-component-category-section {
  margin-bottom: 2rem;
}

.docs-component-category-section-title {
  margin-bottom: 1rem;
}

.docs-component-category-list-item {
  text-decoration: none;
}

.docs-component-category-list-card {
  height: 100%;
  border-radius: 4px;
}

.docs-component-category-list-card-title {
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

.docs-component-category-list-card-summary {
  padding: 0 15px 15px;
  min-height: 2.4em;
  font-size: 15px;
}
