@use 'sass:map';
@use '../../token-definition';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (mtx, popover);

/// Generates custom tokens for the mtx-popover.
/// @param {Map} $systems The MDC system tokens
/// @param {Boolean} $exclude-hardcoded Whether to exclude hardcoded token values
/// @param {Map} $token-slots Possible token slots
/// @return {Map} A set of custom tokens for the mtx-popover
@function get-tokens($systems, $exclude-hardcoded, $token-slots) {
  $tokens: (
    container-shape: map.get($systems, md-sys-shape, corner-extra-small),

    outline-color: map.get($systems, md-sys-color, surface-container),
    background-color: map.get($systems, md-sys-color, surface-container),
    text-color: map.get($systems, md-sys-color, on-surface),
    // Note that this uses a value, rather than a computed box-shadow, because we use
    // the value at runtime to determine which shadow to set based on the popover's depth.
    base-elevation-level: token-definition.hardcode(2, $exclude-hardcoded),
  );

  @return token-definition.namespace-tokens($prefix, $tokens, $token-slots);
}
