.mtx-text3d {
  display: block;
  transform-style: preserve-3d;
  animation: rotate 5s ease infinite;
  font-weight: bold;

  .mtx-text3d-layer {
    display: block;
    text-align: center;
    font-size: 10rem;

    &:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0%;
      right: 0%;
      margin: auto;
      transform-style: preserve-3d;
    }
  }
}
