<mat-checkbox class="mtx-checkbox-master"
              *ngIf="showSelectAll"
              [checked]="selectAll"
              [(indeterminate)]="selectAllIndeterminate"
              (change)="_updateMasterChecked($event, -1);">
  {{selectAllLabel}}
</mat-checkbox>

<mat-checkbox class="mtx-checkbox-normal"
              *ngFor="let item of options; let i = index;"
              [(ngModel)]="item.checked"
              [disabled]="item.disabled"
              (change)="_updateNormalChecked($event, i)">
  {{item.label}}
</mat-checkbox>
