/* stylelint-disable selector-class-pattern */

// Orginal Style from https://github.com/Kelbster/highlightjs-material-dark-theme
// (c) Kelby Gassmanl <kelby.gassman@gmail.com>

@mixin highlightjs-material-dark() {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font-size: 14px;
  }

  .hljs > *::selection {
    background-color: #3e4451;
  }

  .hljs-comment {
    color: #9e9e9e;
    font-style: italic;
  }

  .hljs-selector-tag {
    color: #c792ea;
  }

  .hljs-string,
  .hljs-subst {
    color: #9ccc65;
  }

  .hljs-number,
  .hljs-regexp,
  .hljs-variable,
  .hljs-template-variable {
    color: #f77669;
  }

  .hljs-keyword {
    color: #c792ea;
  }

  .hljs-function > .hljs-title {
    color: #75a5ff;
  }

  .hljs-tag {
    color: #ce93d8;
  }

  .hljs-name {
    color: #4dd0e1;
  }

  .hljs-type {
    color: #da4939;
  }

  .hljs-attribute {
    color: #80cbbf;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-link {
    color: #c792ea;
  }

  .hljs-params {
    color: #eefff7;
  }

  .hljs-meta {
    color: #75a5ff;
  }

  .hljs-title {
    color: #75a5ff;
  }

  .hljs-section {
    color: #ffc66d;
  }

  .hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .hljs-selector-class {
    color: #ffcb68;
  }

  .hljs-selector-id {
    color: #f77669;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
