@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;
@use '../core/tokens/token-utils';
@use './m2-colorpicker';
@use './m3-colorpicker';

@mixin base($theme) {
  $tokens: map.get(m2-colorpicker.get-tokens($theme), base);
  @if mat.get-theme-version($theme) == 1 {
    $tokens: map.get(m3-colorpicker.get-tokens($theme), base);
  }

  @include token-utils.values($tokens);
}

@mixin color($theme, $color-variant: null) {
  $tokens: map.get(m2-colorpicker.get-tokens($theme), color);
  @if mat.get-theme-version($theme) == 1 {
    $tokens: map.get(m3-colorpicker.get-tokens($theme), color);
  }

  @include token-utils.values($tokens);

  @if mat.get-theme-version($theme) != 1 {
    .mtx-colorpicker-toggle-active {
      &.mat-accent {
        $tokens: m2-colorpicker.private-get-color-palette-color-tokens($theme, secondary);
        @include token-utils.values($tokens);
      }

      &.mat-warn {
        $tokens: m2-colorpicker.private-get-color-palette-color-tokens($theme, error);
        @include token-utils.values($tokens);
      }
    }
  }
}

@mixin typography($theme) {
  $tokens: map.get(m2-colorpicker.get-tokens($theme), typography);
  @if mat.get-theme-version($theme) == 1 {
    $tokens: map.get(m3-colorpicker.get-tokens($theme), typography);
  }

  @include token-utils.values($tokens);
}

@mixin density($theme) {
  $tokens: map.get(m2-colorpicker.get-tokens($theme), density);
  @if mat.get-theme-version($theme) == 1 {
    $tokens: map.get(m3-colorpicker.get-tokens($theme), density);
  }

  @include token-utils.values($tokens);
}

/// Defines the tokens that will be available in the `overrides` mixin and for docs extraction.
@function _define-overrides() {
  @return (
    (
      namespace: colorpicker,
      tokens: token-utils.get-overrides(m3-colorpicker.get-tokens(), colorpicker)
    )
  );
}

@mixin overrides($tokens: ()) {
  @include token-utils.batch-create-token-values($tokens, _define-overrides());
}

@mixin theme($theme, $color-variant: null) {
  @if mat.get-theme-version($theme) == 1 {
    @include base($theme);
    @include color($theme, $color-variant);
    @include density($theme);
    @include typography($theme);
  } @else {
    @include base($theme);
    @if mat.theme-has($theme, color) {
      @include color($theme);
    }
    @if mat.theme-has($theme, density) {
      @include density($theme);
    }
    @if mat.theme-has($theme, typography) {
      @include typography($theme);
    }
  }
}
