@use 'sass:map';
@use '../core/tokens/m3-utils';
@use '../core/tokens/m3';

/// Generates custom tokens for the mtx-colorpicker.
@function get-tokens($theme: m3.$sys-theme, $color-variant: null) {
  $system: m3-utils.get-system($theme);
  @if $color-variant {
    $system: m3-utils.replace-colors-with-variant($system, primary, $color-variant);
  }

  $tokens: (
    base: (),
    color: (
      colorpicker-toggle-active-state-icon-color: map.get($system, on-surface-variant),
      colorpicker-toggle-icon-color: map.get($system, on-surface-variant),
    ),
    typography: (),
    density: (),
  );

  @return $tokens;
}
