$sidenav-width: 240px;

.docs-component-viewer-nav {
  position: sticky;
  top: 0;
}

.docs-component-viewer-nav-content {
  width: $sidenav-width;
  height: calc(100vh - 56px);
  overflow: auto;

  ul {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 5px 15px 5px 20px;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.nav-item-title {
  padding: 0 16px;
  margin: 16px 0 8px;
  font-size: 80%;
}
