@use 'sass:map';
@use '@material/tooltip/plain-tooltip-theme' as mdc-plain-tooltip-theme;
@use '@angular/material' as mat;
@use '../core/theming/inspection';
@use '../core/theming/validation';
@use '../core/tokens/m2/mdc/plain-tooltip' as tokens-mdc-plain-tooltip;

@mixin base($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, base));
  }
  @else {
    // Add default values for tokens not related to color, typography, or density.
    @include mat.private-current-selector-or-root() {
      @include mdc-plain-tooltip-theme.theme(tokens-mdc-plain-tooltip.get-unthemable-tokens());
    }
  }
}

@mixin color($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, color));
  }
  @else {
    $mdc-tooltip-color-tokens: tokens-mdc-plain-tooltip.get-color-tokens($theme);

    // Add values for MDC tooltip tokens.
    @include mat.private-current-selector-or-root() {
      @include mdc-plain-tooltip-theme.theme($mdc-tooltip-color-tokens);
    }
  }
}

@mixin typography($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, typography));
  }
  @else {
    $mdc-tooltip-typography-tokens: tokens-mdc-plain-tooltip.get-typography-tokens($theme);

    // Add values for MDC tooltip tokens.
    @include mat.private-current-selector-or-root() {
      @include mdc-plain-tooltip-theme.theme($mdc-tooltip-typography-tokens);
    }
  }
}

@mixin density($theme) {
  @if mat.get-theme-version($theme) == 1 {
    @include _theme-from-tokens(inspection.get-theme-tokens($theme, density));
  }
  @else {
    $mdc-tooltip-density-tokens: tokens-mdc-plain-tooltip.get-density-tokens($theme);

    // Add values for MDC tooltip tokens.
    @include mat.private-current-selector-or-root() {
      @include mdc-plain-tooltip-theme.theme($mdc-tooltip-density-tokens);
    }
  }
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'mtx-tooltip') {
    @if mat.get-theme-version($theme) == 1 {
      @include _theme-from-tokens(inspection.get-theme-tokens($theme));
    }
    @else {
      @include base($theme);
      @if mat.theme-has($theme, color) {
        @include color($theme);
      }
      @if mat.theme-has($theme, density) {
        @include density($theme);
      }
      @if mat.theme-has($theme, typography) {
        @include typography($theme);
      }
    }
  }
}

@mixin _theme-from-tokens($tokens) {
  @include validation.selector-defined(
    'Calls to Angular Material theme mixins with an M3 theme must be wrapped in a selector');
  @if $tokens != () {
    @include mdc-plain-tooltip-theme.theme(map.get($tokens, tokens-mdc-plain-tooltip.$prefix));
  }
}
